
  @font-face {
	font-family: "CalSans";
	src: url("../fonts/CalSans-SemiBold.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "icons";
	src: url("../fonts/icons.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");