// .header =====================================================================
.header {
	position: absolute;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #f4f4f5;
	@media (max-width: toEm(1179.98)) {
		position: fixed;
	}
	// .header__top
	&__top {
	}
	// .header__center
	&__center {
	}
}

// .top-header =====================================================================
.top-header {
	// .top-header__container
	&__container {
		position: relative;
		min-height: var(--header-height);
		padding-block: 15px 9px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 30px;
		z-index: 1;
		&::after {
			content: "";
			position: absolute;
			width: calc(100% - #{$containerPadding}px);
			height: 1px;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			background-color: #e3e3e3;
			@media (max-width: toEm(1179.98)) {
				width: 100%;
			}
		}
		@media (max-width: toEm(1179.98)) {
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: var(--header-height);
				top: 0;
				right: -100%;
				background-color: #f4f4f5;
				transition: right 0.3s;
				.menu-open &,
				._show-form & {
					right: 0;
				}
			}
		}
		@media (max-width: toEm(767.98)) {
			// padding-block: 20px;
			column-gap: 20px;
		}
		@media (max-width: toEm(479.98)) {
			padding-block: 10px;
		}
	}
	// .top-header__form
	&__form {
		flex: 0 1 221px;
	}
	// .top-header__logo
	&__logo {
		flex: 0 0 180px;
		position: relative;
		z-index: 1;
		min-width: 120px;
		outline: 2px solid transparent;
		transition: outline-color 0.3s;
		outline-offset: 5px;
		&:focus-visible {
			outline-color: #ff6f61;
		}
		img {
			max-width: 100%;
		}
		@media (max-width: toEm(767.98)) {
			flex-shrink: 1;
		}
	}
	// .top-header__actions
	&__actions {
		position: relative;
		z-index: 1;
		// flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		row-gap: 10px;
		column-gap: 25px;
		@media (max-width: toEm(767.98)) {
			column-gap: 20px;
		}
	}
	&__icon-search {
		display: none;
		@media (max-width: toEm(600.98)) {
			display: block;
			font-size: 20px;
			flex-shrink: 0;
			transition:
				transform 0.3s,
				outline-color 0.3s;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 20px;
				height: 20px;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity 0.3s;
				background: url("../img/icon/search.svg") 0 0 / 100% no-repeat;
			}
			._show-form & {
				transform: rotate(-90deg);
				&::before {
					opacity: 0;
				}
				&::after {
					opacity: 1;
				}
			}
		}
	}
	&__icon-search,
	&__link,
	&__icon-menu {
		outline: 2px solid transparent;
		outline-offset: 3px;
		&:focus-visible {
			outline-color: #ff6f61;
		}
	}
	// .top-header__link
	&__link {
		display: flex;
		column-gap: 10px;
		font-size: 18px;
		align-items: center;
		color: #1e2832;
		transition:
			color 0.3s,
			outline-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: #ff6f61;
			}
		}
		&::before {
			font-size: 20px;
		}
		@media (max-width: toEm(767.98)) {
			span {
				display: none;
			}
		}
	}
	// .top-header__icon-menu
	&__icon-menu {
		flex-shrink: 0;
		outline-offset: 5px;
		transition: outline-color 0.3s;
	}
}

// .form-header =====================================================================
.form-header {
	position: relative;
	min-width: 30px;
	&:has(.form-header__input:hover):not(._show) &__button {
		color: #ff6f61;
	}

	@media (max-width: toEm(991.98)) {
		display: flex;
		justify-content: flex-end;
		background-color: #f4f4f5;
	}
	@media (max-width: toEm(991.98)) and (min-width: toEm(600.98)) {
	}
	@media (max-width: toEm(600.98)) {
		position: fixed;
		width: 100%;
		top: var(--header-height);
		left: 0;
		padding: 15px 15px 13px;
		opacity: 0;
		visibility: hidden;
		border-bottom: 2px solid #e3e3e3;
		transition:
			visibility 0.3s,
			opacity 0.3s;
		._show-form & {
			opacity: 1;
			visibility: visible;
		}
	}
	// .form-header__input
	&__input {
		width: 0;
		cursor: pointer;
		padding-inline-end: 30px;
		height: 34px;
		border-bottom: 2px solid transparent;
		opacity: 0;
		transition:
			border-color 0.3s,
			width 0.3s,
			padding 0.3s,
			opacity 0.3s;
		outline: none;
		&::placeholder {
			font-weight: 600;
			text-transform: capitalize;
			color: rgba(30, 40, 50, 0.5);
		}
		._show & {
			@media (min-width: toEm(600.98)) {
				width: 100%;
				padding-inline: 15px 35px;
				border-color: #000;
				opacity: 1;
			}
			cursor: text;
			&:focus {
				border-color: #ff6f61;
			}
		}

		@media (max-width: toEm(600.98)) {
			width: 100%;
			opacity: 1;
			border-color: #000;
			padding-inline: 15px 35px;
		}
	}

	// .form-header__button
	&__button {
		position: absolute;
		top: 50%;
		left: 0;
		font-size: 20px;
		line-height: 0;
		color: #1e2832;
		padding: 5px;
		transition: all 0.3s;
		transform: translateY(-50%);
		outline: 2px solid transparent;
		&:focus-visible {
			outline-color: #ff6f61;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #ff6f61;
			}
		}
		@media (min-width: toEm(600.98)) {
			pointer-events: none;
			._show & {
				pointer-events: all;
				left: 100%;
				transform: translate(-100%, -50%);
			}
		}
		@media (max-width: toEm(991.98)) and (min-width: toEm(600.98)) {
			left: auto;
			right: 0;
			// transform: translateY(-50%);
			._show-form &,
			._show & {
				left: auto;
				right: 0;
				transform: translate(0, -50%);
			}
		}
		@media (max-width: toEm(600.98)) {
			left: auto;
			transform: translateY(-50%);
			right: 15px;
		}
	}
}

.center-header {
	@media (min-width: toEm(1179.98)) {
		padding-block: 30px;
	}
	// .center-header__container
	&__container {
	}
	// .center-header__menu
	&__menu {
	}
}

// .menu =====================================================================
.menu {
	@media (max-width: toEm(1179.98)) {
		position: fixed;
		width: 40%;
		height: 100%;
		top: 0;
		right: -100%;
		opacity: 0;
		visibility: hidden;
		background-color: #f4f4f5;
		padding: 100px 20px 30px;
		transition: all 0.3s;
		overflow-y: auto;
		@media (min-width: toEm(574.98)) {
			border-left: 1px solid #e3e3e3;
		}

		.menu-open & {
			opacity: 1;
			visibility: visible;
			right: 0;
		}
	}
	@media (max-width: toEm(920.98)) {
		width: 55%;
	}
	@media (max-width: toEm(767.98)) {
		padding-top: 90px;
	}
	@media (max-width: toEm(630.98)) {
		width: 63%;
	}
	@media (max-width: toEm(574.98)) {
		width: 100%;
	}
	@media (max-width: toEm(479.98)) {
		@include adaptiveValue("padding-top", 80, 70, 0, 375.98);
	}
	// .menu__list
	&__list {
		@media (min-width: toEm(1179.98)) {
			display: flex;
			flex-wrap: wrap;
			column-gap: 57px;
			row-gap: 15px;
			justify-content: center;
		}
		@media (min-width: toEm(1179.98)) and (max-width: toEm($containerWidth)) {
			column-gap: 25px;
		}
	}
	// .menu__item
	&__item {
		@media (max-width: toEm(1179.98)) {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			text-align: right;
		}
	}
	// .menu__link
	&__link {
		font-family: $fontSecond, sans-serif;
		text-transform: capitalize;
		transition:
			color 0.3s,
			outline-color 0.3s;
		line-height: 1.3;
		outline-offset: 5px;
		outline: 2px solid transparent;
		&:focus-visible {
			outline-color: #ff6f61;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #ff6f61;
			}
		}
		@media (max-width: toEm(1179.98)) {
			font-size: 22px;
		}
		@media (max-width: toEm(767.98)) {
			font-size: 25px;
		}
	}
}

// .icon-menu =====================================================================
.icon-menu {
	display: none;
	@media (max-width: toEm(1179.98)) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		&::before,
		&::after {
			content: "";
		}

		&::before,
		&::after,
		span {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #1e2832;
			transition: all 0.3s;
			border-radius: 10px;
		}

		span {
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		.menu-open & {
			span {
				transform: scale(0.01, 1) translateY(-50%);
			}
			&::before {
				top: 9px;
				transform: rotate(-45deg);
			}
			&::after {
				bottom: 7px;
				transform: rotate(45deg);
			}
		}
	}
}
