//===============footer================
.footer {

	position: relative;
	&::before {
	content:"";
	background-color: hsl(0deg 0% 94%);
	top: -70px;
	left: 0;
	width: 100%;
	height: 140%;
	position: absolute;
	z-index: -1;

}
	// .footer__top

	&__top {
	

	}
// .footer__column

&__column {
}
	// .footer__bottom

	&__bottom {
	}
}
.top-footer {

	// .top-footer__container

	&__container {
		@include adaptiveValue("padding-top", 50, 15, 0, $containerWidth, 320.98);
		@include adaptiveValue("padding-bottom", 50, 15, 0, $containerWidth, 320.98);
		border-bottom: 1px solid rgba(171, 171, 171, 0.6);
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("column-gap", 112, 15, 0, $containerWidth, 320.98);
		@media (max-width: toEm(991.98)) {
			flex-direction: column;
		}
	}
	// .top-footer__content
	&__content {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15, 0, $containerWidth, 320);
		}
	}

	// .top-footer__title

	&__title {
		font-family: "Integral",sans-serif;
		font-weight: 700;
		@include adaptiveValue("font-size", 32, 18, 0, $containerWidth, 320.98);
		
	}
	&__head {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15, 0, $containerWidth, 320);
		}
		@media (max-width: 991.98px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	// .top-footer__text

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 15, 0, $containerWidth, 320);
		}
		font-family: "Satoshi",sans-serif;
		font-weight: 400;
	line-height: 1.57; /* 22/14 */
	font-size: toRem(14);
	color: #a09f9f;
	
	max-width: toRem(268);
	}

	// .top-footer__social

	&__social {
	}
}
.social {

	// .social__list

	&__list {
		display: flex;
		align-items: center;
		column-gap: toRem(12);
	}

	// .social__item

	&__item {
		border: toRem(1) solid grey;
		border-radius: 50%;
		block-size: toRem(28);
		aspect-ratio: 1 / 1;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (any-hover: hover) {
			&:hover {
			background-color: #000;
			&::before {
				color: #fff;
			}
			}}
		&::before {
			font-size: toRem(14);
			
		}
		&:nth-child(2) {
			background-color: #000;
			border-radius: 100%;
			border: none;
				@media (any-hover: hover) {
			&:hover {
				background-color: #fff;
				&::before {
					color: #000;
				}
			}}
			}
			&:nth-child(3) {
				&::before {
					padding-top: toRem(10);
					font-size: toRem(24);
				}
			}
			&:nth-child(4) {
				&::before {
				
					font-size: toRem(17);
				}
			}
	}
}


//akardeon
.menu-footer {
	color: #000;
	display: flex;
gap: toRem(119);
@include adaptiveValue('gap',119 ,50, 0, 1240, 600);
	@media (max-width: toEm(767.98)) {
		// order: 1;
	}
	@media (max-width: toEm(600)) {
		flex-direction: column;
		margin-inline: toRem(-15);
		text-align: center;
		gap: toRem(10);
	}
	// .menu-footer__item
	&__item {
		width: 100%;
		text-align: center;
		@media (min-width: toEm(600)) {
			flex-basis: toRem(100);
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
	// .menu-footer__title
	&__title {
		@media (max-width: toEm(600)){
			  padding-inline: toRem(20);
		}
		width: 100%;
		font-size: toRem(20);
		line-height: 1.4; /* 28/20 */
		font-weight: 600;
		list-style: none;
		position: relative;

		&::before,
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		._init & {
			width: 100%;
			display: flex;
			// justify-content: flex-end;
			justify-content:space-between;
			align-items: center;
			flex-direction: row-reverse;
			gap: toRem(25);
			@media (max-width: toEm(600)) {
				background-color: #000;
				color: #fff;
				padding-block: toRem(11);
			}
			&::before {
				display: block;
				transition: transform 0.3s;
				font-size: toRem(10);
			}
		}
		._init[open] & {
			&::before {
				transform: scale(1, -1);
			}
		}
	}
	// .menu-footer__list
	&__list {
		padding-block-start: toRem(10);
	}
	// .menu-footer__element
	&__element {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .menu-footer__link
	&__link {
		font-size: toRem(17);
		line-height: 1.41; /* 24/17 */
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}


.bottom-footer {
	@media (max-width: toEm(668.98)) {
		display: flex;
		flex-direction: column;
	justify-content: center;
	}
	
	// .bottom-footer__container

	&__container {
		
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("padding-top", 25, 15, 0, $containerWidth, 320);
		@include adaptiveValue("padding-bottom",45, 15, 0, $containerWidth, 320);
		@media (max-width: toEm(668.98)) {
			flex-direction: column;
			row-gap: toRem(20);
justify-content: center;
				}
			

	}

	// .bottom-footer__copyright

	&__copyright {
		color: #a09f9f;

	
	}

	// .bottom-footer__cards

	&__cards {
		display: flex;
		column-gap: toRem(12);

	}

	// .bottom-footer__card

	&__card {
		box-shadow: 0 .4482142925262451px 4.482142925262451px 0 rgba(183,183,183,.08),0 4.482142925262451px 8.964285850524902px 0 rgba(183,183,183,.08);
		flex-shrink: 0;
	width: toRem(45);
	max-height: toRem(24);
	display: flex;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	overflow: hidden;
	padding: 5px 8px;
	transition: all 0.3s;
	img {
		max-width: 100%;
	}
	@media (any-hover: hover) {
		&:hover {
transform: scale(1.2);
		}}
	}

	// .bottom-footer__button

	&__button {
	}
}

