

.header {
	display: flex;
  flex-direction: column;
	.cart-open &{
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
	// .header__top

	&__top {
	}

	// .header__main

	&__main {
		transition: all 0.3s;
	}

	// .header__burger

	&__burger {
	}
}
.top-header {

	// .top-header__wrapper

	&__wrapper {
		background-color: #000;
    color: #fff;
    z-index: 21;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	}

	// .top-header__container

	&__container {
	}

	// .top-header__row

	&__row {
		display: flex;
    justify-content: center;
    padding: toRem(10) 0;
    position: relative;
    @media (max-width: toEm(767.98)) {
      padding: toRem(5) 0;

    }
	}

	// .top-header__info

	&__info {
		font-size: toRem(14);;
    font-family: "Satoshi",sans-serif;
    font-weight: 300;
    >a {
      text-decoration: underline;
    }
    @media (max-width: toEm(430)) {
    >span {
      display: none;
    }
    }
	}

	// .top-header__exit

	&__exit {
		position: absolute;
    right: 0;
    width: toRem(14);
    height: toRem(20);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
	}
}
.exit-top-header {
}
.exit-top {

	// .exit-top__border

	&__border {
		width: 100%;
    height: toRem(2);
    background-color: #fff;
    position: absolute;
    border-radius: toRem(10);
    &:nth-child(1) {
      top: 50%;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      top: 50%;
      transform: rotate(-45deg);
    }
	}
}
.main-header {
	&__right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-grow: 1;
		column-gap: toRem(20);
	}
	// .main-header__wrapper

	&__wrapper {
		position: fixed;
    background-color: #fff;
    z-index: 10;
    top: toRem(18);
    left: 0;
    right: 0;
	}

	// .main-header__container

	&__container {
		position: relative;
	}

	// .main-header__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	
		@include adaptiveValue("column-gap", 40, 10, 0, $containerWidth, 320);
		@include adaptiveValue("padding-top", 38, 10, 0, $containerWidth, 320);
		@include adaptiveValue("padding-bottom", 38, 10, 0, $containerWidth, 620);
		row-gap: toRem(15);
	
		@media (max-width: toEm(991.98)) {
			justify-content: space-between;
		}
	}

	// .main-header__logo

	&__logo {
    font-family: "Integral", sans-serif;
		font-weight: 700;
		@include adaptiveValue("font-size", 32, 18, 0, $containerWidth, 320);
	
	}

	// .main-header__nav

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .main-header__search

	&__search {
		// flex: 1 1 auto;
		flex-grow: 1;
		@media (max-width: toEm(579.98)) {
			flex-grow: 0;
		}
		
	}

	// .main-header__buttons

	&__buttons {
		display: flex;
    align-items: center;
    column-gap: toRem(14); 
	 
	}

	// .main-header__action

	&__action {

	}

	// .main-header__icon-menu

	&__icon-menu {
	}
}
.nav-main-header {

	// .nav-main-header__list

	&__list {
		display: flex;
		// width: toRem(150);
		transition: all 0.4s;
    align-items: center;
    column-gap: toRem(24);
		@media (max-width: toEm(991.98)) {
			flex-direction: column;
			row-gap: toRem(20);
			font-size: toRem(20);
			width: 100%;
		}  
		@media (max-width: toEm(991.98)) {
			font-size: toRem(25);
			row-gap: toRem(25);
		}
	@media (max-width: 540.98px) {
		font-size: toRem(35);
		row-gap: toRem(40);
	}
	}

	// .nav-main-header__item

	&__item {
		position: relative;
	}

	// .nav-main-header__item--shop-popap

	&__item--shop-popap {
		display: flex;

    align-items: center;
    gap: toRem(5);
transition: all 0.4s;
    cursor: pointer;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: -15px;
   
		@media (any-hover: hover) {
			&:hover {
		text-decoration: underline;
			}}
	}
// .nav-main-header__current

&__current {
}

// .nav-main-header__arrow

&__arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: toRem(20);
	aspect-ratio: 1 / 1;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
	transition: transform 0.5s;
	margin-inline-start: toRem(3);

	span {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		inline-size: toRem(20);
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1 / 1;
		font-size: toRem(11);
		transition:
			transform 0.5s,
			opacity 0.5s;
		&:first-child {
			padding-top: toRem(5);
		}
		&:last-child {
			opacity: 0;
		}
	}
	.--active & {
		span {
			transform: rotate(-180deg);
			&:first-child {
				opacity: 0;
			}
			&:last-child {
				opacity: 1;
			}
		}
	}

}

	// .nav-main-header__shop

	&__shop {
		position: absolute;
		inline-size: 125%;
		inset-block-start: 100%;
		width: toRem(100);
		inset-inline-start: 0;
		padding-block-start: toRem(10);
		padding-inline-start: toRem(0);
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.5s,
			visibility 0.5s;
			z-index: 1;
		&::before {
			content: "";
			margin-top: toRem(70);
			position: absolute;
			z-index: -1;
			background-color: #fff;
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
			inset-inline-start: toRem(-25);
			inset-block-start: toRem(-75);
			inline-size: calc(100% + toRem(50));
			block-size: calc(100% + toRem(20));
			border-radius: toRem(8);
		}
		.--active & {
			opacity: 1;
			visibility: visible;
		}
	
		@media (max-width: toEm(991.98)) {
			min-width: toRem(200);
			inset-inline-start: -60px;
			// inset-inline-end: 0;
		}
  
	}


	&__link {
		transition: all 0.4s;
		@media (any-hover: hover) {
			&:hover {
		text-decoration: underline;
			}}
	}
}
.shop-nav-header {

	// .shop-nav-header__list

	&__list {
		width: 100%;
	}

	// .shop-nav-header__item

	&__item {
		padding-bottom: 10px;

	
	}

	// .shop-nav-header__link

	&__link {
		display: flex;
		justify-content: center;
		align-self: center;
		transition: all 0.4s;
	
		@media (any-hover: hover) {
			&:hover {
		text-decoration: underline;
			}}
	}
}
.search-main-header {

	// .search-main-header__label

	&__label {
		position: relative;
		block-size: toRem(50);
		@media (max-width: toEm(579.98)) {
			block-size: toRem(70);
			background-color: #fff;
			position: absolute;
			inline-size: 100%;
			inset-inline-start: 0;
			inset-block-start: 110%;
			padding-block: toRem(10);
			padding-inline: toRem(15);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s;
			.search-open & {
				inset-block-start: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__input {
		height: 100%;
		background-color: #F0F0F0;
		padding-inline-start: toRem(45);
		border-radius: toRem(62); 
		border: 1px solid grey; 
		transition: 0.3s;
	}


	&__button{
		position: absolute;
		color: grey;
		block-size: 100%;
		inset-inline-start: 0;
		inset-block-end: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: toRem(24);
		padding-left: toRem(10);
		@media (max-width: toEm(579.98)) {
			inset-inline-start: toRem(15);
		}
	}
	&__open {
		display: none;
		@media (max-width: toEm(579.98)) {
			border: toRem(1) solid grey;
			border-radius: 50%;
			block-size: toRem(29);
			aspect-ratio: 1 / 1;
			flex-shrink: 0;
			display: block;
			position: relative;
			color: grey;
			transition: all 0.3s;
			span {
				block-size: toRem(14);
				aspect-ratio: 1 / 1;
				position: absolute;
				inset-inline-start: 50%;
				inset-block-start: 45%;
				transform: translate(-50%, -50%);
				transition: transform 0.3s;
				// font-size: toRem(18);
				&:first-child {
				}
				&:last-child {
					transform: translate(-50%, -50%) scale(0);
				}
				.search-open & {
					&:first-child {
						transform: translate(-50%, -46%) scale(0);
					}
					&:last-child {
						transform: translate(-50%, -48%) ;
						@media (max-width: 478.98px) {
							transform: translate(-50%, -39%) scale(1.05);
							block-size: toRem(18);
						}
					}
				
				}
			}
			@media (any-hover: hover) {
				&:hover {
					color: grey;
				}
			}

		}
	}
}

.buttons-main-header {


}
.action-main {

	display: flex;
	gap: toRem(15);
	// .action-main__link

	&__link {
		gap: toRem(15);
		font-size: toRem(24);
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
		transform: scale(1.2);
			}}
	}

	// .action-main__image

	&__image {
	}
}
//burger
.icon-menu {
	display: none;
	@media (max-width: toEm(991.98)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		&::before,
		&::after {
			content: "";
		}

		&::before,
		&::after,
		span {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #1e2832;
			transition: all 0.3s;
			border-radius: toRem(10);
		}

		span {
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		.menu-open & {
			span {
				transform: scale(0.01, 1) translateY(-50%);
			}
			&::before {
				top: 9px;
				transform: rotate(-45deg);
			}
			&::after {
				bottom: 7px;
				transform: rotate(45deg);
			}
		}
	}
}
.burger-header {
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	transition: all 0.3s;
	width: 100%;
	height: 100%;
	background-color: #F0F0F0;
	z-index: 5;
	overflow: auto;

	@include adaptiveValue("padding-top", 154, 100, 0, $containerWidth, 320);
	padding-bottom: toRem(30);
	border-left: 1px solid #e3e3e3;

		@media (max-width: toEm(991.98)) {
		max-width: 50%;
	}
	@media (max-width: toEm(600.98)) {
		max-width: 100%;
	}

		&::before {
			content: "";
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 100%;
		height: toRem(64);
		background-color: #F0F0F0;
		width: 100%;
		z-index: 3;
		@media (max-width: toEm(991.98)) {
			max-width: 50%;
		}
		}
		.menu-open & {
			right: 0;
	
			&::before {
				right: 0;
			}
		}
	// .burger-header__container

	&__container {
	}
}

//===============
.header {

	// .header__bottom

	&__bottom {
	}
}
.bottom-header {
display: none;
@media (max-width: 579.98px) {
	display: block;
	position: relative;
}
	// .bottom-header__wrapper

	&__wrapper {
	}

	// .bottom-header__container

	&__container {
	}
}



//=======================cart
.action-main {

	// .action-main__cart

	&__container{
	
	}
	&__cart {
		position: absolute;
	inset-inline-start: 0; // Розташування до лівого краю
	inset-block-start: calc(100% + toRem(-10)); // Відступ зверху
	opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		.cart-open & {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: 684.98px) {
width: 100%;
		}
	}

	// .action-main__body

	&__body {
		
		column-gap: toRem(20);
		display: flex;
		justify-content: space-between;
		align-items:flex-start;
		@media (max-width: 684.98px) {
flex-direction: column;
row-gap:toRem(20);
overflow: auto;

block-size: calc(100vh - toRem(80));
		}


	}
}
.cart-main {
	background-color: #fff;
	box-shadow: toRem(-3) toRem(4) toRem(15) 0 rgba(0, 0, 0, 0.06);
	// .cart-main__header

	&__header {
		&:not(:last-child) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		margin-bottom: toRem(24);}
	}

	// .cart-main__title

	&__title {
		color: #000;
font-family: "Integral ";
font-size: toRem(40);
font-weight: 700;

	}

	// .cart-main__close

	&__close {
	
	}

	// .cart-main__items

	&__items {
		margin-bottom: toRem(20);
		overflow: auto;
		block-size: calc(100vh - toRem(280));
		display: flex;
		flex-direction: column;
		row-gap:toRem(24);
		padding-block: toRem(24);
		padding-left:toRem(34) ;
		padding-right: toRem(24);
		border-radius:toRem(20);
		border: 1px solid rgba(0, 0, 0, 0.10);
		@media (max-width: 1500.98px) {
			block-size: calc(100vh - toRem(200));
		}
		@media (max-width: toEm(991.98)) {
			block-size: calc(100vh - toRem(210));
		}
		@media (max-width: 684.98px) {
		align-self: center;
					}
		@media (max-width: toEm(699.98)) {
			block-size: calc(100vh - toRem(200));
		}
		@media (max-width: toEm(580)) {
			block-size: calc(100vh - toRem(185));
		}
	}

	// .cart-main__item

	&__item {
		display: grid;
		gap: toRem(20);
		grid-template-columns: toRem(91) toRem(527) ;
	}
	// .cart-main__line

	&__line {
		width: 100%;
		height: 1px;
		background: rgba(0, 0, 0, 0.10);
		left: 0;
		top: 0;
	}

	// .cart-main__summary

	&__summary {
		display: flex;
		flex-direction: column;
		row-gap:toRem(24);
		padding-block: toRem(20);
	padding-inline: toRem(24);
		border-radius:toRem(20);
		border: 1px solid rgba(0, 0, 0, 0.10);
		 @media (max-width: 684.98px) {
align-self: center;
margin-bottom: toRem(60);
		 }
	}
}

.item-cart-main {
display: flex;
column-gap: toRem(24);
	// .item-cart-main__body

	&__body {
		display: flex;
		@include adaptiveValue("column-gap", 174, 20, 0, $containerWidth, 720);
	}

	// .item-cart-main__rigth

	&__rigth {
	}

	// .item-cart-main__title

	&__title {
	}

	// .item-cart-main__link-title

	&__link-title {
		color: #000;
font-family: "Satoshi";
font-size: toRem(20);
font-weight: 700;
text-transform: capitalize;
line-height: 1.2;
padding-bottom: toRem(5);
@media (max-width: 820.98px) {
	font-size: toRem(16);
	font-weight: 600;
}
	}

	// .item-cart-main__size

	&__size {
		color: #000;
		font-family: "Satoshi";
font-size: toRem(14);
font-weight: 400;

padding-bottom: toRem(5);
span {
	color: rgba(0, 0, 0, 0.60);
}
	}

	// .item-cart-main__color

	&__color {
		line-height: 1.3;
		color: #000;
		font-family: "Satoshi";
font-size: toRem(14);
font-weight: 400;
padding-bottom: toRem(15);
span {
	color: rgba(0, 0, 0, 0.60);
}
	}

	// .item-cart-main__prise

	&__prise {
		color: #000;
font-family: "Satoshi";
font-size: toRem(24);
font-weight: 700;
text-transform: capitalize;
line-height: 1.7;
@media (max-width: 820.98px) {
	font-size: toRem(18);
	font-weight: 500;
}
	}

	// .item-cart-main__left

	&__left {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
	}

	// .item-cart-main__delate

	&__delate {
		color: #F33;
	}

	// .item-cart-main__quantity

// Quantity
.quantity {
	display: flex;
width:toRem(126) ;
	background-color: #F0F0F0;
	border: toRem(1) solid #F0F0F0;
	border-radius: toRem(62);
	min-height: toRem(50);
	padding-inline: toRem(20);
	@media (max-width: 820.98px) {
		min-height: toRem(40);
		// padding-inline: toRem(16);
	}
	@media (max-width: 420.98px) {
		min-height: toRem(35);
		padding-inline: toRem(10);
		width:toRem(80) ;
		// padding-inline: toRem(16);
	}
	// .quantity__button
	&__button {
		inline-size: toRem(24);
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		font-size: toRem(14);
		@media (max-width: 820.98px) {
			inline-size: toRem(22);
			flex-shrink: 1;
		}
	
	}
	// .quantity__input
	&__input {
		text-align: center;
		font-weight: 600;
		font-size: toRem(20);
		@media (max-width: 820.98px) {
			font-size: toRem(18);
			font-weight: 500;
		}
	}
}
}
.item-cart-header {

	// .item-cart-header__link-image

	&__link-image {
		background: #F0EEED;
		border-radius: 8.658px;
		display: flex;
		align-items: center;
	}

	// .item-cart-header__image

	&__image {
		padding-block: toRem(10);
		padding-inline: toRem(17);
	
	}
}
.quantity {

	// .quantity__button

	&__button {
	}

	// .quantity__input

	&__input {
	}
}
.summary-cart-main {
	display: flex;
	flex-direction: column;
	row-gap:toRem(20);
	overflow: auto;
	@media (max-width: 820.98px) {
		row-gap:toRem(10);
	}
	// .summary-cart-main__body

	&__body {
	display: flex;
	flex-direction: column;
	row-gap:toRem(20);
	@media (max-width: 820.98px) {
		row-gap:toRem(10);
	}
	}

	// .summary-cart-main__title

	&__title {
		color: #000;
font-family: "Satoshi";
font-size: toRem(24);
font-weight: 700;
padding-block: toRem(24);
@media (max-width: 820.98px) {
	font-size: toRem(18);
	padding-block: toRem(18);
}
	}

	// .summary-cart-main__top

	&__top {
	}

	// .summary-cart-main__middle

	&__middle {
	
	}

	// .summary-cart-main__bottom

	&__bottom {
	}
}
.top-summary {
	display: flex;
	flex-direction: column;
	row-gap: toRem(20);
@media (max-width: 820.98px) {
	row-gap: toRem(15);
}

	// .top-summary__item

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .top-summary__velue

	&__velue {
		color: rgba(0, 0, 0, 0.60);
		font-family: "Satoshi";
font-size: toRem(20);
font-weight: 400;
@media (max-width: 820.98px) {
	font-size: toRem(16);
}
	}

	// .top-summary__price

	&__price {
		color: #000;
		font-family: "Satoshi";
font-size: toRem(20);
font-weight: 600;
@media (max-width: 820.98px) {
	font-size: toRem(16);
	font-weight: 500;
}

	}
	&__price--red {
		color: #F33;
		font-size: toRem(20);
font-weight: 600;
@media (max-width: 820.98px) {
	font-size: toRem(16);
	font-weight: 500;
}
	}
}
.middle-summary {

	// .middle-summary__item

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .middle-summary__velue

	&__velue {
		color: #000;
		font-family: "Satoshi";
font-size: toRem(20);
font-weight: 400;
@media (max-width: 820.98px) {
	font-size: toRem(16);
}
	}

	// .middle-summary__price

	&__price {
		color: #000;
		font-family: "Satoshi";
font-size: toRem(24);
font-weight: 700;
@media (max-width: 820.98px) {
	font-size: toRem(16);
	font-weight: 500;
}
	}
}
.bottom-summary {
	display: flex;
flex-direction: column;
row-gap:toRem(24);
@media (max-width: 991.98px) {
	row-gap:toRem(15);
}
	// .bottom-summary__action

	&__action {
		display: flex;
		align-items: center;
		column-gap: toRem(12);
		@media (max-width: 991.98px) {
			flex-direction: column;
			row-gap:toRem(15);
		}
	}

	// .bottom-summary__body

	&__body {
		position: relative;
		block-size: toRem(50);
		@media (max-width: toEm(320.98)) {
			block-size: toRem(70);
			background-color: #fff;
			position: absolute;
			inline-size: 100%;
			inset-inline-start: 0;
			inset-block-start: 110%;
			padding-block: toRem(12);
			padding-inline: toRem(16);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s;
			.search-open & {
				inset-block-start: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// .bottom-summary__input

	&__input {
		flex-grow: 1;
		height: 100%;
		background-color: #F0F0F0;
		padding-inline-start: toRem(45);
		border-radius: toRem(62); 
	
		transition: 0.3s;
	}

	// .bottom-summary__button

	&__button {
		position: absolute;
		color: grey;
		block-size: 100%;
		inset-inline-start: 0;
		inset-block-end: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: toRem(24);
		padding-left: toRem(10);
		@media (max-width: toEm(579.98)) {
			inset-inline-start: toRem(5);
		}
	}

	// .bottom-summary__apply

	&__apply {
		border-radius: 62px;
background: #000;
display: flex;
justify-content: center;
align-items: center;
padding-inline: toRem(38);
padding-block: toRem(12);
color: #FFF;

font-family: "Satoshi";
font-weight: 500;
@media (any-hover: hover) {
	&:hover {
		border: 1px solid #c2c2c2;
		background-color: #fff;
		color: #000;
	}
}
@media (max-width: 991.98px) {
	width: 100%;
}
	}

	// .bottom-summary__checkout

	&__checkout {
		
	
		&__icon {
			inline-size: toRem(20);
			aspect-ratio: 1 / 1;
			overflow: hidden;
			flex-shrink: 0;
			position: relative;
			color: #FFF;
		}

		@media (any-hover: hover) {
      &:hover {
				border: 1px solid #c2c2c2;
				background-color: #fff;
				color: #000;
      }
    }
	}
}
.checkout {
	border-radius: toRem(62);
	background: #000;
	display: flex;
column-gap: toRem(12);
	justify-content: center;
	align-items: center;
	padding-inline: toRem(38);
	padding-block: toRem(12);
	color: #FFF;
width: 100%;

	// .checkout__text

	&__text {
		font-family: "Satoshi";
		font-weight: 500;
	}

	// .checkout__icon

	&__icon {
	}
}
