.footer {
	background-color: $mainColor;
	transition: all 0.3s;
	.catalog-open & {
		filter: blur(toRem(2));
	}
	// .footer__body
	&__body {
		padding-block: toRem(40);
	}
	// .footer__container
	&__container {
		display: grid;
		row-gap: toRem(40);
		column-gap: toRem(80);
		grid-template-columns: toRem(250) 1fr toRem(240);
		@media (max-width: toEm(1150)) {
			column-gap: toRem(60);
			grid-template-columns: toRem(200) 1fr;
		}
		@media (max-width: toEm(767.98)) {
			grid-template-columns: auto;
		}
	}
	// .footer__column
	&__column {
	}
	// .footer__bottom
	&__bottom {
		text-align: center;
		padding-block: toRem(20);
		padding-inline: toRem(15);
		border-top: toRem(1) solid #3d3d3d;
	}
	// .footer__copy
	&__copy {
		color: $lightGreyColor;
		font-size: toRem(15);
		line-height: 1.46; /* 22/15 */
	}
}
.social-footer {
	@media (max-width: toEm(767.98)) and (min-width: toEm(600)) {
		gap: toRem(20);
		align-items: center;
		display: flex;
	}
	@media (max-width: toEm(767.98)) {
		// order: 3;
	}
	@media (max-width: toEm(600)) {
		text-align: center;
	}
	> * {
		margin-bottom: toRem(40);
		@media (max-width: toEm(767.98)) and (min-width: toEm(600)) {
			margin-bottom: toRem(0);
		}
		@media (max-width: toEm(767.98)) {
			flex-basis: toRem(100);
			flex-grow: 1;
		}
	}
	// .social-footer__logo
	&__logo {
		@media (max-width: toEm(1150)) and (min-width: toEm(768)) {
			max-width: toRem(200);
		}
		@media (max-width: toEm(600)) {
			margin: 0 auto;
		}
	}
	// .social-footer__section
	&__section {
		margin-bottom: toRem(30);
		@media (max-width: toEm(767.98)) and (min-width: toEm(600)) {
			margin-bottom: toRem(0);
		}
	}
	// .social-footer__payment
	&__payment {
	}
	> *:last-child {
		margin-bottom: toRem(0);
	}
}
.section-social-footer {
	// .section-social-footer__title
	&__title {
		font-size: toRem(17);
		color: #fff;
		line-height: 1.41; /* 24/17 */
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .section-social-footer__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(15);
		@media (max-width: toEm(600)) {
			justify-content: center;
		}
	}
	// .section-social-footer__item
	&__item {
		width: toRem(40);
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		overflow: hidden;
		flex-shrink: 0;
	}
	&__icon {
		width: 100%;
		transition: transform 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
.payment-social-footer {
	display: flex;
	gap: toRem(20);
	align-items: flex-start;
	@media (max-width: toEm(600)) {
		justify-content: center;
	}
	// .payment-social-footer__item
	&__item {
	}
}
.contacts-footer {
	display: flex;
	gap: toRem(32);
	@media (min-width: toEm(1151)) {
		flex-direction: column;
	}
	@media (max-width: toEm(1150)) and (min-width: toEm(768)) {
		grid-column: span 2;
	}
	@media (max-width: toEm(767.98)) {
		gap: toRem(20);
		// order: 2;
	}
	@media (max-width: toEm(600)) {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	// .contacts-footer__section
	&__section {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&::before {
			display: none;
		}
		@media (max-width: toEm(1150)) {
			&--shrink {
				flex-shrink: 0;
			}
		}
		@media (min-width: toEm(768)) {
			padding-inline-start: toRem(65);
			min-height: toRem(50);
			&::before {
				position: absolute;
				left: 0;
				top: 0;
				border-radius: 50%;
				width: toRem(50);
				height: toRem(50);
				display: flex;
				justify-content: center;
				align-items: center;
				color: $lightGreyColor;
				font-size: toRem(20);
				border: toRem(2) solid rgba(177, 177, 177, 0.2);
			}
		}
		@media (max-width: toEm(767.98)) and (min-width: toEm(600)) {
			flex-basis: toRem(100);
			flex-grow: 1;
		}
	}
	// .contacts-footer__item
	&__item {
		color: #fff;
		font-size: toRem(20);
		line-height: 1.3;
		font-weight: 600;
		&[href*="tel:"] {
			white-space: nowrap;
		}
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .contacts-footer__callback
	&__callback {
		color: $yellowColor;
		font-size: toRem(20);
		line-height: 1.3;
		font-weight: 600;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .contacts-footer__text
	&__text {
		color: #fff;
		font-size: toRem(20);
		line-height: 1.4;
		font-weight: 600;
	}
}
a.contacts-footer__text {
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}
.menu-footer {
	color: #fff;
	display: flex;
	gap: toRem(20);
	@media (max-width: toEm(767.98)) {
		// order: 1;
	}
	@media (max-width: toEm(600)) {
		flex-direction: column;
		margin-inline: toRem(-15);
		text-align: center;
		gap: toRem(10);
	}
	// .menu-footer__item
	&__item {
		@media (min-width: toEm(600)) {
			flex-basis: toRem(100);
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
	// .menu-footer__title
	&__title {
		font-size: toRem(20);
		line-height: 1.4; /* 28/20 */
		font-weight: 600;
		list-style: none;
		position: relative;

		&::before,
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		._init & {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row-reverse;
			gap: toRem(25);
			@media (max-width: toEm(600)) {
				background-color: #000;
				padding-block: toRem(11);
			}
			&::before {
				display: block;
				transition: transform 0.3s;
				font-size: toRem(10);
			}
		}
		._init[open] & {
			&::before {
				transform: scale(1, -1);
			}
		}
	}
	// .menu-footer__list
	&__list {
		padding-block-start: toRem(10);
	}
	// .menu-footer__element
	&__element {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .menu-footer__link
	&__link {
		font-size: toRem(17);
		line-height: 1.41; /* 24/17 */
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
