.header {
	position: sticky;
	inset-block-start: 0;
	inset-inline-start: 0;
	z-index: 50;
	&::before {
		content: "";
		position: fixed;
		inset-inline-start: 0;
		inset-block-start: 0;
		block-size: 100%;
		inline-size: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		z-index: 2;
	}
	.cart-open &,
	.catalog-open & {
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
	// .header__top
	&__top {
		background-color: $lightColor;
		position: relative;
		z-index: 6;
		@media (max-width: toEm(991.98)) {
			transition: all 0.3s;
			position: fixed;
			block-size: 100%;
			inline-size: 100%;
			inset-inline-start: -100%;
			// inset-inline-start: 0%;
			inset-block-start: 0;
			overflow: auto;
			background-color: #fff;
			.menu-open & {
				inset-inline-start: 0%;
			}
		}
	}
	// .header__body
	&__body {
	}
	// .header__bottom
	&__bottom {
		@media (min-width: toEm(992)) {
			transition: all 0.3s;
			.cart-open &,
			.catalog-open & {
				filter: blur(toRem(2));
			}
		}
	}
	&--scroll {
		.top-header {
		}
	}
}
.top-header {
	// .top-header__container
	&__container {
		display: flex;
		@media (min-width: toEm(992)) {
			// Gap безпеки
			padding-block: toRem(15);
			gap: toRem(40);
			align-items: center;
			justify-content: space-between;
		}
		@media (max-width: toEm(991.98)) {
			flex-direction: column;
			gap: toRem(25);
			padding-block-start: toRem(100);
			padding-block-end: toRem(30);
		}
		@media (max-width: toEm(699.98)) {
			padding-block-start: toRem(80);
		}
		
	}
	// .top-header__menu
	&__menu {
		@media (max-width: 991.98px) {
			display: flex;
			justify-content: center;
			column-gap: toRem(200);
		}
		@media (max-width: 467.98px) {
			flex-direction: column;
		
		}
	}
	// .top-header__actions
	&__actions {
	}
}
.menu {
	
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		@media (max-width: 467.98px) {
		align-items: flex-start;
					}
		display: flex;
		flex-wrap: wrap;
		line-height: 1.2;
		column-gap: toRem(30);
		row-gap: toRem(8);
		@media (max-width: toEm(991.98)) {
		
			flex-direction: column;
			row-gap: toRem(20);
	
			&::after {
			content:"";
			margin-left: toRem(50);
			height: 100%;
			width: 2px;
			background-color: $yellowColor;
			box-shadow: 
			-3px 0 6px rgba(185, 113, 19, 0.497), // Тінь зліва (ширина тіні 7px)
			3px 0 6px rgba(185, 113, 19, 0.497);  // Тінь справа (ширина тіні 7px)
			@media (max-width: 467.98px) {
				width: 150%;
				height: 2px;
				margin-left: toRem(-50);
				
			}
			
		}
		}

	}

	// .menu__item
	&__item {
@media (max-width: 991.98px) {
	border: 1px solid $lightColor;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Додаємо тінь
	padding-block: toRem(7);
	padding-inline: toRem(7);
}
@media (max-width: 467.98px) {

	display: flex; // Встановлюємо flexbox
  justify-content: center; // Центруємо по горизонталі
  align-items: center; // Центруємо по вертикалі
  text-align: center; // На всяк випадок, для тексту
  width: 100%; // За необхідності для адаптації
			}

	}
	// .menu__link
	&__link {
	
		color: $greyColor;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: toEm(991.98)) {
			font-size: toRem(24);
		}
	
	}
}
.actions-top-header {
	display: flex;
	column-gap: toRem(25);
	row-gap: toRem(10);
	align-items: center;
	@media (max-width: 991.98px) {

		display: flex; // Встановлюємо flexbox
		justify-content: center; // Центруємо по горизонталі
		align-items: center; // Центруємо по вертикалі
		text-align: center; // На всяк випадок, для тексту
		width: 100%; // За необхідності для адаптації
				}
	// .actions-top-header__social
	&__social {
	}
	// .actions-top-header__lang
	&__lang {
	}
}
.social-header {
	display: flex;
	gap: toRem(20);
	flex-wrap: wrap;
	align-items: center;
	// .social-header__label
	&__label {
		flex-shrink: 0;
		@media (max-width: toEm(1159.98)) {
			display: none;
		}
	}
	// .social-header__items
	&__items {
		display: flex;
		gap: toRem(20);
		align-items: center;
		column-gap: toRem(10);
		row-gap: toRem(5);
	}
	// .social-header__item
	&__item {
	}
	// .social-header__icon
	&__icon {
		block-size: toRem(30);
		transition: transform 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}
.lang-header {
	position: relative;
	// .lang-header__current
	&__current {
		color: $greyColor;
		transition: color 0.5s;
		font-size: toRem(19);
		font-weight: 600;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		position: relative;
		z-index: 2;
		&::before {
			color: $greyColor;
			width: toRem(24);
			height: toRem(24);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: toRem(10);
			transition: transform 0.5s;
		}
		.--active & {
			color: $yellowColor;
			&::before {
				transform: rotate(-180deg);
			}
		}
	}
	// .lang-header__list
	&__list {
		position: absolute;
		top: 100%;
		width: 100%;
		padding-block: toRem(10);
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.5s,
			visibility 0.5s;
		pointer-events: none;
		&::before {
			content: "";
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
			border-radius: toRem(8);
			position: absolute;
			width: calc(100% + toRem(10));
			height: calc(100% + toRem(34));
			top: toRem(-34);
			padding-block-start: toRem(34);
			left: toRem(-5);
			background-color: #fff;
		}
		.--active & {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}
	// .lang-header__item
	&__item {
		position: relative;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .lang-header__link
	&__link {
		color: $greyColor;
		font-size: toRem(19);
		font-weight: 600;
		transition: color 0.5s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellowColor;
			}
		}
	}
	@media (any-hover: hover) {
		&:hover {
			.lang-header__current {
				color: $yellowColor;
				&::before {
					transform: rotate(-180deg);
				}
			}
			.lang-header__list {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
}
//========================================================================================================================================================
//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: toEm(991.98)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		flex-shrink: 0;
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
//========================================================================================================================================================
.body-header {
	position: relative;
	z-index: 5;
	background-color: #fff;
	@media (max-width: toEm(991.98)) {
		z-index: 7;
		.menu-open & {
			&::after {
				content: "";
				position: absolute;
				inset-block-end: 0;
				inset-inline-start: 0;
				block-size: toRem(2);
				inline-size: 100%;
				background-color: #f8f8f8;
			}
		}
	}
	// .body-header__container
	&__container {
		display: flex;
		align-items: center;
		position: relative;
		gap: toRem(30);
		padding-block: toRem(27);
		@media (max-width: toEm(1159.98)) {
			gap: toRem(15);
			padding-block: toRem(15);
		}
		@media (max-width: toEm(991.98)) {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
		}
		@media (max-width: toEm(699.98)) {
			padding-block: toRem(5);
		}
	}
	&__icon-menu {
		@media (max-width: toEm(1159.98)) {
		}
	}
	// .body-header__logo
	&__logotip {
		position: relative;

		&::before {
			animation: float 3s ease-in-out infinite;
			content: "";
			position: absolute;
			top: 8%; // Встановлюємо посередині по вертикалі
			left: 49.5%; // Встановлюємо посередині по горизонталі
			transform: translate(-50%, -50%); // Зміщуємо центр псевдоелемента в точку центру контейнера
			background: url('../img/icons/heart.svg') 0 0 no-repeat;
			width: 28.384px;
height: 24.818px;
flex-shrink: 1;
@media (max-width: 479.98px) {
	top: 10%; // Можливо, для менших екранів змінити позицію
	left: 50%; // Залишаємо по центру
	width: 20.384px;
	height: 16.818px;
	background-size: contain; // Додаємо адаптивне масштабування
	
}
	}
	}
	&__logo {
		
		flex-shrink: 0;
		margin-inline-end: toRem(5);
		
		@media (max-width: toEm(1159.98)) {
			margin-inline-end: toRem(0);
			inline-size: toRem(200);
		}
		@media (max-width: toEm(479.98)) {
			inline-size: toRem(150);
		}
	}

	// for animation
	@keyframes float {
		0%, 100% {
			transform: scale(1.10);
		}
		50% {
			transform: scale(1.00); // Регулюйте значення, щоб збільшити чи зменшити підйом
		}
	}
	// .body-header__catalog
	&__catalog {
	}
	// .body-header__search
	&__search {
		flex-grow: 1;
		@media (max-width: toEm(579.98)) {
			flex-grow: 0;
		}
	}
	// .body-header__contacts
	&__contacts {
		flex-shrink: 0;
		@media (max-width: toEm(1159.98)) {
		}
		@media (max-width: toEm(991.98)) {
			justify-self: end;
		}
	}
	// .body-header__actions
	&__actions {
		flex-shrink: 0;
		@media (max-width: toEm(1159.98)) {
		}
	}
}
.catalog-header {
	// .catalog-header__button
	&__button {
		padding-inline: toRem(22);
		.button__icon {
			span {
				position: absolute;
				inline-size: 100%;
				block-size: 100%;
				top: 0;
				left: 0;
				font-size: toRem(20);
				transition: transform 0.3s;
				&:first-child {
				}
				&:last-child {
					transform: scale(0);
				}
				.catalog-open & {
					&:first-child {
						transform: scale(0);
					}
					&:last-child {
						transform: scale(1);
					}
				}
			}
		}
		@media (max-width: toEm(1159.98)) {
			padding-inline: toRem(18);
		}
		@media (max-width: toEm(579.98)) {
			inline-size: 100%;
		}
	}
	// .catalog-header__items
	&__items {
	}
	@media (max-width: toEm(579.98)) {
		flex-grow: 1;
	}
}
.button-catalog-header {
}
:root {
	--menu-catalog-top: 0px;
}
.items-catalog-header {
	block-size: calc(100dvh - var(--menu-catalog-top));
	position: absolute;
	inset-inline-start: 0;
	inline-size: 100%;
	overflow: auto;
	inset-block-start: calc(100% + toRem(17));

	@media (max-width: toEm(991.98)) {
		inset-block-start: calc(100% + toRem(22));
	}
	@media (min-width: toEm(992)) {
		border-radius: toRem(8);
	}

	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	.catalog-open & {
		inset-inline-start: 0;
		opacity: 1;
		visibility: visible;
	}

	// .items-catalog-header__wrapper
	&__wrapper {
		position: absolute;

		inset-block-start: 0;
		max-width: toRem(300);
		inline-size: 100%;
		&::before,
		&::after {
			content: "";
			position: absolute;
			inset-inline-start: 0;
			background-color: #fff;
			z-index: 2;
			inline-size: 100%;
			block-size: toRem(10);
		}
		&::before {
			inset-block-start: 0;
			border-radius: toRem(8) toRem(8) 0 0;
		}
		&::after {
			inset-block-end: 0;
			border-radius: 0 0 toRem(8) toRem(8);
		}

		@media (max-width: toEm(991.98)) {
			max-width: none;
		}
		@media (min-width: toEm(992)) {
			inset-inline-start: toRem(10);
		}
	}

	// .items-catalog-header__list
	&__list {
		position: relative;
		background-color: #fff;
		padding-block: toRem(10);
		&::after {
			content: "";
			pointer-events: none;
			position: absolute;
			inset-inline-end: 0;
			inset-block-start: toRem(10);
			background-color: $yellowColor;
			block-size: calc(100% - toRem(20));
			transition: inline-size 0.2s;
			inline-size: toRem(0);
			z-index: 3;
		}
		@media (any-hover: hover) {
			&:hover {
				border-radius: toRem(8) 0 0 toRem(8);
				&::after {
					inline-size: toRem(5);
				}
			}
		}
		@media (min-width: toEm(992)) {
			border-radius: toRem(8);
		}
	}
	// .items-catalog-header__item
	&__item {
		min-height: toRem(60);

		display: grid;
		grid-template-columns: 1fr toRem(24);

		@media (min-width: toEm(992)) {
			padding-inline-end: toRem(15);
		}
		@media (max-width: toEm(991.98)) {
			grid-template-columns: 1fr toRem(44);
		}

		@media (any-hover: hover) {
			&:hover {
				.items-catalog-header__link,
				.items-catalog-header__more {
					background-color: $yellowColor;
					color: $mainColor;
				}
				.items-catalog-header__sub-menu {
					inset-inline-start: 100%;
					pointer-events: all;
					inline-size: 100%;
					border-radius: 0 toRem(8) toRem(8) 0;
				}
			}
		}
	}
	// .items-catalog-header__link
	&__link {
		position: relative;
		background-color: #fff;
		z-index: 2;
		padding-inline-start: toRem(30);
		display: grid;
		flex-grow: 1;
		grid-template-columns: toRem(40) 1fr;
		grid-template-rows: toRem(60);
		gap: toRem(15);
		align-items: center;
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.4;
		@media (max-width: toEm(991.98)) {
			padding-inline-start: toRem(15);
		}
		@media (min-width: toEm(992)) {
			margin-inline-end: toRem(-39);
		}
		.--active & {
			background-color: $yellowColor;
			color: $mainColor;
		}
	}
	// .items-catalog-header__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: toRem(40);
	}
	// .items-catalog-header__text
	&__text {
		// padding-inline-end: toRem(5);
		padding-inline-end: toRem(44);
		flex-grow: 1;
	}
	// .items-catalog-header__more
	&__more {
		position: relative;
		z-index: 2;
		background-color: #fff;
		color: $yellowColor;
		transition: color 0.3s;

		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			font-size: toRem(13);
			transform: rotate(-90deg);
		}
		.--active & {
			background-color: $yellowColor;
			color: $mainColor;
		}
		@media (min-width: toEm(992)) {
			pointer-events: none;
		}
		@media (max-width: toEm(991.98)) {
			padding-inline-end: toRem(15);
			padding-inline-start: toRem(15);
			&::before {
				transform: rotate(0deg);
				.--active & {
					transform: rotate(-180deg);
				}
			}
		}
	}
	// .items-catalog-header__sub-menu
	&__sub-menu {
		background-color: #fff;
		transition: all 0.3s;
		@media (min-width: toEm(992)) {
			padding-block: toRem(10);
			position: absolute;
			inset-inline-start: 0;
			inline-size: 80%;
			pointer-events: none;
			border-radius: toRem(8);
			block-size: 100%;
			inset-block-start: 0;
			overflow: hidden;
		}
		@media (max-width: toEm(991.98)) {
			display: none;
			.--active & {
				display: block;
			}
		}
	}
	// .items-catalog-header__sub-list
	&__sub-list {
		padding-inline: toRem(30);
		padding-block: toRem(20);
		@media (min-width: toEm(992)) {
			inset-block-start: toRem(10);
			block-size: calc(100% - toRem(20));
			inset-inline-start: 0;
			position: absolute;
			overflow-y: auto;
			inline-size: 100%;
		}
		@media (max-width: toEm(991.98)) {
			padding-block: toRem(10);
			padding-inline: toRem(15);
		}
	}
	// .items-catalog-header__sub-item
	&__sub-item {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .items-catalog-header__sub-link
	&__sub-link {
		font-size: toRem(19);
		line-height: 1.5;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.search-header {
	// .search-header__body
	&__body {
		block-size: toRem(50);
		position: relative;
		@media (max-width: toEm(579.98)) {
			block-size: toRem(70);
			background-color: #fff;
			position: absolute;
			inline-size: 100%;
			inset-inline-start: 0;
			inset-block-start: 110%;
			padding-block: toRem(10);
			padding-inline: toRem(15);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s;
			.search-open & {
				inset-block-start: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .search-header__input
	&__input {
		border: 1px solid $lightGreyColor;
		border-radius: toRem(8);
		height: 100%;
		padding-inline-start: toRem(15);
		padding-inline-end: toRem(55);
		border-radius: toRem(8);
		&::placeholder {
			color: $lightGreyColor;
		}
	}
	// .search-header__button
	&__button {
		position: absolute;
		block-size: 100%;
		inset-inline-end: 0;
		inset-block-end: 0;
		inline-size: toRem(55);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: toRem(24);
		@media (max-width: toEm(579.98)) {
			inset-inline-end: toRem(15);
		}
	}
	// .search-header__open
	&__open {
		display: none;
		@media (max-width: toEm(579.98)) {
			border: toRem(1) solid $yellowColor;
			border-radius: 50%;
			block-size: toRem(50);
			aspect-ratio: 1 / 1;
			flex-shrink: 0;
			display: block;
			position: relative;
			color: $greyColor;
			transition: all 0.3s;
			span {
				block-size: toRem(23);
				aspect-ratio: 1 / 1;
				position: absolute;
				inset-inline-start: 50%;
				inset-block-start: 50%;
				transform: translate(-50%, -50%);
				transition: transform 0.3s;
				font-size: toRem(23);
				&:first-child {
				}
				&:last-child {
					transform: translate(-50%, -50%) scale(0);
				}
				.search-open & {
					&:first-child {
						transform: translate(-50%, -50%) scale(0);
					}
					&:last-child {
						transform: translate(-50%, -50%) scale(1);
					}
				}
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: $yellowColor;
					color: #fff;
				}
			}

			@media (max-width: toEm(479.98)) {
				block-size: toRem(40);
				span {
					block-size: toRem(18);
					&::before {
						font-size: toRem(18);
					}
				}
			}
		}
	}
}
.contacts-header {
	position: relative;
	// .contacts-header__current
	&__current {
		position: relative;
		z-index: 2;
	}
	// .contacts-header__list
	&__list {
		position: absolute;
		inline-size: 100%;
		inset-block-start: 100%;
		inset-inline-start: 0;
		padding-block-start: toRem(10);
		padding-inline-start: toRem(60);
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.5s,
			visibility 0.5s;
		&::before {
			content: "";
			position: absolute;
			background-color: #fff;
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
			inset-inline-start: toRem(-20);
			inset-block-start: toRem(-70);
			inline-size: calc(100% + toRem(40));
			block-size: calc(100% + toRem(90));
			border-radius: toRem(8);
		}
		.--active & {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: toEm(1159.98)) {
			padding-inline-start: toRem(0);
		}
		@media (max-width: toEm(699.98)) {
			min-width: toRem(200);
			inset-inline-start: auto;
			inset-inline-end: 0;
		}
	}

	// .contacts-header__item
	&__item {
		position: relative;
		z-index: 2;
		&:not(:last-child) {
			margin-block-end: toRem(10);
		}
	}
	// .contacts-header__link
	&__link {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.4;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .contacts-header__callme
	&__callme {
		font-weight: 600;
		text-align: left;
		font-size: toRem(19);
		color: $yellowColor;
		line-height: 1.4;
		margin-inline-end: toRem(-33);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	/*
	@media (any-hover: hover) {
		&:hover {
			.contacts-header__list {
				opacity: 1;
				visibility: visible;
			}
			.current-contacts-header__arrow {
				transform: rotate(-180deg);
			}
		}
	}
	*/
}
.current-contacts-header {
	display: flex;
	align-items: center;
	gap: toRem(10);
	// .current-contacts-header__phone-icon
	&__phone-icon {
		inline-size: toRem(50);
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		background-color: $lightColor;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: toRem(23);
		color: $greyColor;
		@media (max-width: toEm(1159.98)) {
			display: none;
		}
	}
	// .current-contacts-header__body
	&__body {
	}
	// .current-contacts-header__schedule
	&__schedule {
		display: block;
		font-size: toRem(13);
		line-height: 1.69; /* 22/13 */
		font-weight: 300;
		color: $greyColor;
		@media (max-width: toEm(699.98)) {
			display: none;
		}
	}
	// .current-contacts-header__phone
	&__phone {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.4;
		&::before {
			display: none;
			inline-size: toRem(50);
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			background-color: $lightColor;
			justify-content: center;
			align-items: center;
			font-size: toRem(23);
			color: $greyColor;
			font-weight: 400;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: toEm(699.98)) {
			font-size: 0;
			&::before {
				display: flex;
			}
		}
	}
	// .current-contacts-header__arrow
	&__arrow {
		inline-size: toRem(20);
		aspect-ratio: 1 / 1;
		flex-shrink: 0;
		overflow: hidden;
		position: relative;
		transition: transform 0.5s;
		margin-inline-start: toRem(3);
		span {
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			inline-size: toRem(20);
			display: flex;
			justify-content: center;
			align-items: center;
			aspect-ratio: 1 / 1;
			font-size: toRem(11);
			transition:
				transform 0.5s,
				opacity 0.5s;
			&:first-child {
			}
			&:last-child {
				opacity: 0;
			}
		}
		.--active & {
			span {
				transform: rotate(-180deg);
				&:first-child {
					opacity: 0;
				}
				&:last-child {
					opacity: 1;
				}
			}
		}
		@media (max-width: toEm(699.98)) {
			display: none;
		}
	}
}
.actions-body-header {
	display: flex;
	gap: toRem(20);
	// .actions-body-header__item
	&__item {
		border: toRem(1) solid $yellowColor;
		border-radius: 50%;
		block-size: toRem(50);
		aspect-ratio: 1 / 1;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $greyColor;
		transition: all 0.3s;
		&::before {
			font-size: toRem(23);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $yellowColor;
				color: #fff;
			}
		}
		@media (max-width: toEm(479.98)) {
			block-size: toRem(40);
			&::before {
				font-size: toRem(18);
			}
		}
	}
	@media (max-width: toEm(1159.98)) {
		gap: toRem(10);
	}
	// .actions-body-header__cart
	&__cart {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;

		position: absolute;
		inset-inline-end: 0;
		inline-size: 100%;
		padding: toRem(30);
		inset-block-start: calc(100% + toRem(17));
		@media (min-width: toEm(992)) {
			max-width: toRem(520);
			border-radius: toRem(8);
		}
		@media (max-width: toEm(991.98)) {
			padding: toRem(15);
			inset-block-start: calc(100% + toRem(22));
		}
		@media (max-width: toEm(580)) {
			inset-block-start: calc(100% + toRem(15));
		}
		.cart-open & {
			opacity: 1;
			visibility: visible;
		}
	}
}
.bottom-header {
	border-top: toRem(2) solid #f8f8f8;
	background-color: #fff;
	padding-block: toRem(18);

	@media (max-width: toEm(991.98)) {
		position: relative;
		z-index: 4;
	}
	@media (max-width: toEm(579.98)) {
		padding-block: toRem(10);
	}
	// .bottom-header__container
	&__container {
		position: relative;
		@media (max-width: toEm(991.98)) {
			display: flex;
			align-items: center;
			gap: toRem(15);
		}
		@media (max-width: toEm(579.98)) {
			gap: toRem(10);
		}
	}
	// .bottom-header__menus
	&__menus {


		@media (min-width: toEm(992)) {
			gap: toRem(40);
			display: flex; // Включаємо flexbox
			justify-content: center; // Центруємо по горизонталі
			align-items: center; // Центруємо по вертикалі (за потреби)
			margin: 0 auto; // Для вирівнювання контейнера, якщо він має задану ширину
		}
		
	}
	// .bottom-header__list
	&__list {
		display: flex;
		column-gap: toRem(40);

		@media (max-width: toEm(1299.98)) {
			column-gap: toRem(20);
		}
		@media (min-width: toEm(992)) {
			align-items: center;
			row-gap: toRem(5);
			flex-wrap: wrap;
			&:last-child {
				justify-content: flex-end;
			}
		}
		@media (max-width: toEm(991.98)) {
			flex-direction: column;
			row-gap: toRem(15);
		}
		@media (max-width: 467.98px) {
			margin-top: 10px;
		}
		
	}

	// .bottom-header__item
	&__item {
		@media (max-width: 991.98px) {
			padding-block: toRem(7);
			border: 1px solid $lightColor;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Додаємо тінь
			padding-inline: toRem(7);
		}
@media (max-width: 467.98px) {

	display: flex; // Встановлюємо flexbox
  justify-content: center; // Центруємо по горизонталі
  align-items: center; // Центруємо по вертикалі
  text-align: center; // На всяк випадок, для тексту
  width: 100%; // За необхідності для адаптації
			}
	}
	&__item--row {
text-align: center;
@media (max-width: 467.98px) {
	}
	}
	// .bottom-header__link
	&__link {
		font-size: toRem(19);
		font-weight: 600;
		line-height: 126%; /* 24/19 */
		display: flex;
		align-items: center;
		gap: toRem(10);
		transition: color 0.3s;
		&::before {
			color: $yellowColor;

			inline-size: toRem(24);
			block-size: toRem(24);
			font-size: toRem(20);
			display: flex;
			font-weight: 400;
			justify-content: center;
			align-items: center;
		}
		&._icon-menu-sale {
			&::before {
				font-size: toRem(24);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: $yellowColor;
			}
		}
		@media (max-width: toEm(1299.98)) {
			gap: toRem(5);
			font-size: toRem(16);
		}
		@media (max-width: toEm(991.98)) {
			font-size: toRem(24);
			font-weight: 400;
			color: $greyColor;
		}
// 	
	}
	// .bottom-header__menu
	&__menu {
	}
}
.bottom-header-list--line {
	@media (max-width: 467.98px) {
		flex-wrap: nowrap;
		&::after {
			content:"";
			margin-left: toRem(-50);
			width: 150%;
			height: 2px;
			background-color: $yellowColor;
			box-shadow: 
				-7px 0 6px rgba(185, 113, 19, 0.663), // Тінь зліва (ширина тіні 7px)
				7px 0 6px rgba(169, 39, 39, 0.74);  // Тінь справа (ширина тіні 7px)
				
				
			}
		}
}
.bottom-header-list--row {
	@media (max-width: 991.98px) {
		display: flex;
		justify-content: center;
		flex-direction: row;
align-self: center;
	}
	@media (max-width: 474.98px) {
	flex-direction: column;
				}
}
.bottom-header-link--size {
	@media (max-width: 509.98px) {
		font-size: toRem(18);
				}
}
.cart-header {
	background-color: #fff;
	box-shadow: toRem(-3) toRem(4) toRem(15) 0 rgba(0, 0, 0, 0.06);
	// .cart-header__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
	// .cart-header__title
	&__title {
		font-size: toRem(26);
		line-height: 130.769231%; /* 34/26 */
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: toRem(10);
		span {
			color: $yellowColor;
		}
	}
	// .cart-header__close
	&__close {
	}
	// .cart-header__items
	&__items {
		overflow: auto;
		block-size: calc(100vh - toRem(480));
		@media (max-width: toEm(991.98)) {
			block-size: calc(100vh - toRem(415));
		}
		@media (max-width: toEm(699.98)) {
			block-size: calc(100vh - toRem(400));
		}
		@media (max-width: toEm(580)) {
			block-size: calc(100vh - toRem(385));
		}
	}
	// .cart-header__footer
	&__footer {
		display: grid;
		gap: toRem(10);
		padding-block-start: toRem(37);
	}
	// .cart-header__checkout
	&__checkout {
	}
	// .cart-header__continue
	&__continue {
	}
	// .cart-header__item
	&__item {
	}
}
.item-cart-header {
	display: grid;
	grid-template-columns: toRem(120) 1fr toRem(20);
	column-gap: toRem(20);
	row-gap: toRem(16);

	@media (max-width: toEm(430)) {
		grid-template-columns: toRem(100) 1fr toRem(20);
		column-gap: toRem(15);
	}

	&:not(:last-child) {
		padding-block-end: toRem(30);
		margin-block-end: toRem(30);
		border-bottom: toRem(2) solid rgba(197, 197, 197, 0.3);
	}
	// .item-cart-header__link-image
	&__link-image {
		align-self: start;
	}
	// .item-cart-header__image
	&__image {
		aspect-ratio: 120 / 100;
		block-size: 100%;
		inline-size: 100%;
		object-fit: cover;
		border-radius: toRem(8);
	}
	// .item-cart-header__body
	&__body {
		> * {
			&:not(:last-child) {
				margin-block-end: toRem(8);
			}
		}
	}
	// .item-cart-header__size
	&__size {
		color: $greyColor;
		font-size: toRem(13);
		line-height: 169.230769%; /* 22/13 */
		font-weight: 300;
	}
	// .item-cart-header__title
	&__title {
		font-size: toRem(19);
		font-weight: 600;
		line-height: 126.315789%; /* 24/19 */
		@media (max-width: toEm(430)) {
			font-size: toRem(16);
		}
	}
	// .item-cart-header__link-title
	&__link-title {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .item-cart-header__stock
	&__stock {
		display: flex;
		gap: toRem(6);
		font-weight: 300;
		font-size: toRem(13);
		line-height: 153.846154%; /* 20/13 */
		&::before {
			flex-shrink: 0;
			color: $colorGreen;
			block-size: toRem(20);
			font-size: toRem(20);
		}
	}
	// .item-cart-header__quantity
	&__quantity {
		@media (max-width: toEm(430)) {
			padding-inline: toRem(5);
		}
	}
	// .item-cart-header__price
	&__price {
	}
	// .item-cart-header__close
	&__close {
		align-self: start;
		grid-row: span 2;
		font-size: toRem(8);
		text-align: center;
		display: flex;
		font-weight: 600;
		justify-content: center;
		align-items: center;
		block-size: toRem(20);
		border: toRem(2) solid $yellowColor;
		border-radius: 50%;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $yellowColor;
			}
		}
	}
}
.price-item-cart-header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: toRem(20);
	row-gap: toRem(5);
	// .price-item-cart-header__current
	&__current {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 140%; /* 28/20 */
	}
	// .price-item-cart-header__old
	&__old {
		font-size: toRem(15);
		line-height: 146.666667%; /* 22/15 */
		color: $colorRed;
		text-decoration: line-through;
	}
}
