.page {
	> *:not(.reviews, .home-text, .new-articles, :last-child) {
		margin-bottom: toRem(70);
		@media (max-width: toEm(991.98)) {
			margin-bottom: toRem(40);
		}
		@media (max-width: toEm(479.98)) {
			margin-bottom: toRem(30);
		}
	}
	// .page__reviews
	&__reviews {
	}
	// .page__new-articles
	&__new-articles {
	}
	&__footer {
		background-color: #fff;
	}
}
//========================================================================================================================================================
.hero {
	padding-block-start: toRem(30);
	// .hero__container
	&__container {
		position: relative;
	}
	// .hero__swiper
	&__swiper {
		border-radius: toRem(8);
	}
	// .hero__swiper-wrapper
	&__swiper-wrapper {
	}
	// .hero__swiper-slide
	&__swiper-slide {
	}
	&__image {
		inline-size: 100%;
		min-width: toRem(600);
	}
	// .hero__link
	&__link {
	}
	// .hero__swiper-pagination
	&__swiper-pagination {
		position: absolute;
		inset-inline-start: 0;
		inline-size: 100%;
		z-index: 2;
		display: flex;
		gap: toRem(10);
		justify-content: center;
		.swiper-pagination-bullet {
			inline-size: toRem(15);
			block-size: toRem(15);
			border: toRem(3) solid #fff;
			flex-shrink: 0;
			border-radius: 50%;
			background-color: #fff;
			transition: background-color 0.3s;
		}
		.swiper-pagination-bullet-active {
			background-color: $yellowColor;
		}
	}
	// .hero__swiper-button
	&__swiper-button {
		position: absolute;
		z-index: 2;
		inset-block-start: 50%;
		transform: translate(0, -50%);
		block-size: toRem(60);
		inline-size: toRem(60);
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $yellowColor;
		font-size: toRem(20);
		transition: all 0.3s;
		@media (max-width: toEm(991.98)) {
			block-size: toRem(40);
			inline-size: toRem(40);
			font-size: toRem(16);
		}
		// .hero__swiper-button--prev
		&--prev {
			inset-inline-start: toRem(20);
			@media (max-width: toEm(991.98)) {
				inset-inline-start: toRem(5);
			}
		}
		// .hero__swiper-button--next
		&--next {
			inset-inline-end: toRem(20);
			&::before {
				transform: rotate(-180deg);
			}
			@media (max-width: toEm(991.98)) {
				inset-inline-end: toRem(5);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $yellowColor;
				color: #fff;
			}
		}
	}
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: toRem(20);
	top: auto;
	@media (max-width: toEm(991.98)) {
		bottom: toRem(15);
	}
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0;
	opacity: 1;
}
//========================================================================================================================================================
.popular-categories {
	// .popular-categories__container
	&__container {
	}
	// .popular-categories__block-header
	&__block-header {
	}
	// .popular-categories__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
		column-gap: toRem(10);
		row-gap: toRem(24);
	}
}
//========================================================================================================================================================
.popular-products {
	// .popular-products__container
	&__container {
	}
	// .popular-products__block-header
	&__block-header {
	}
	// .popular-products__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
		gap: toRem(30);
		row-gap: toRem(30);
	}
}
//========================================================================================================================================================
.sale {
	// .sale__container
	&__container {
	}
	// .sale__block-header
	&__block-header {
	}
	// .sale__slider
	&__slider {
		@media (max-width: toEm(470)) {
			margin-inline-end: toRem(-15);
		}
	}
	// .sale__swiper-wrapper
	&__swiper-wrapper {
	}
	// .sale__swiper-slide
	&__swiper-slide {
	}
	&__image {
		border-radius: toRem(8);
		block-size: 100%;
		inline-size: 100%;
		object-fit: cover;
		aspect-ratio: 410 / 280;
		transition: transform 0.3s;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(0.98);
			}
		}
	}
}
//========================================================================================================================================================
.reviews {
	min-width: 0;
	@include gridContainer(6);
	@include adaptiveValue("padding-block", 50, 30);
	background-color: #e9e9e9;
	@media (max-width: toEm(1049.98)) {
		@include gridContainer(2);
	}
	// .reviews__container
	&__content {
		@media (min-width: toEm(1050)) {
			display: flex;
			column-gap: toRem(70);
		}
	}
	// .reviews__body
	&__body {
		flex-basis: toRem(410);
		flex-shrink: 0;
		@media (max-width: toEm(1049.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}
	// .reviews__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}
	// .reviews__shop
	&__shop {
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
	}
	// .reviews__rating
	&__rating {
	}
	// .reviews__actions
	&__actions {
		display: flex;
		gap: toRem(10);
		@media (max-width: toEm(1049.98)) {
			padding-block-start: toRem(30);
		}
		@media (max-width: toEm(479.98)) {
			flex-direction: column;
		}
	}
	// .reviews__add
	&__add {
		padding-inline: toRem(20);
	}
	// .reviews__all
	&__all {
		padding-inline: toRem(20);
	}
	// .reviews__slider
	&__slider {
		margin: toRem(-15);
		padding: toRem(15);
	}
	// .reviews__wrapper
	&__wrapper {
		align-items: stretch;
		margin-bottom: toRem(17);
	}
	// .reviews__slide
	&__slide {
	}
	// .reviews__scroll
	&__scroll {
		position: relative;
		block-size: toRem(50);
		display: flex;
		align-items: center;
		&::after {
			content: "";
			background-color: #e3e2e2;
			block-size: toRem(6);
			position: absolute;
			inset-block-start: 50%;
			inline-size: 100%;
			transform: translate(0, -50%);
		}
	}
	&__drag-scroll {
		cursor: grab;
		touch-action: pan-y;
		position: relative;
		z-index: 2;
		background-color: #fff;
		border-radius: 50%;
		inline-size: toRem(50);
		aspect-ratio: 1 / 1;
		border: toRem(1) solid #e3e2e2;
		box-shadow: toRem(-3) toRem(4) toRem(15) rgba(0, 0, 0, 0.06);

		display: flex;
		justify-content: center;
		align-items: center;
		font-size: toRem(15);
	}
}
.shop-reviews {
	display: flex;
	gap: toRem(30);
	align-items: flex-start;
	// .shop-reviews__avatar
	&__avatar {
		aspect-ratio: 1 / 1;
		flex-basis: toRem(80);
		flex-shrink: 0;
	}
	// .shop-reviews__body
	&__body {
	}
	// .shop-reviews__title
	&__title {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 140%; /* 28/20 */
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
}
.slide-review {
	height: auto;

	@media (min-width: toEm(1050)) {
		flex-basis: toRem(450);
	}

	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: toRem(30);

	border-radius: toRem(8);
	border: toRem(1) solid #e3e2e2;
	background-color: #fff;
	padding: toRem(30);
	box-shadow: toRem(-3) toRem(4) toRem(15) 0 rgba(0, 0, 0, 0.06);

	@media (max-width: toEm(479.98)) {
		padding: toRem(15);
		gap: toRem(20);
	}
	// .slide-review__header
	&__header {
		display: flex;
		gap: toRem(20);
		align-items: flex-start;
		min-width: 0;
		@media (max-width: toEm(479.98)) {
			gap: toRem(10);
		}
	}
	// .slide-review__avatar
	&__avatar {
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		border: toRem(1) solid $yellowColor;
		display: flex;
		flex-basis: toRem(50);
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		font-size: toRem(18);
		@media (max-width: toEm(479.98)) {
			flex-basis: toRem(45);
		}
	}
	// .slide-review__body
	&__body {
		flex-grow: 1;
		line-height: 187.5%; /* 30/16 */
		max-height: toRem(150);
		overflow: auto;
		p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
	// .slide-review__title
	&__title {
		font-size: toRem(17);
		line-height: 141.176471%; /* 24/17 */

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		@media (max-width: toEm(479.98)) {
			font-size: toRem(14);
		}
	}
	// .slide-review__rating
	&__rating {
	}
	// .slide-review__date
	&__date {
		font-size: toRem(17);
		line-height: 141.176471%;
		@media (max-width: toEm(479.98)) {
			font-size: toRem(14);
		}
	}
	// .slide-review__product
	&__product {
	}
}
.product-review {
	display: flex;
	align-items: center;
	gap: toRem(10);
	min-width: 0;
	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
	// .product-review__image
	&__image {
		border-radius: 50%;
		flex-basis: toRem(50);
		flex-shrink: 0;
		object-fit: cover;
		aspect-ratio: 1 / 1;
	}
	// .product-review__title
	&__title {
		font-weight: 600;
		font-size: toRem(20);
		line-height: 140%; /* 28/20 */

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
//========================================================================================================================================================
.new-articles {
	@include adaptiveValue("padding-block", 70, 40);
	@include gridContainer();
	// .new-articles__content
	&__content {
	}
	// .new-articles__block-header
	&__block-header {
	}
	// .new-articles__slider
	&__slider {
		margin: toRem(-15);
		padding: toRem(15);
	}
	// .new-articles__swiper-wrapper
	&__swiper-wrapper {
		align-items: stretch;
	}
	// .new-articles__slide
	&__slide {
		height: auto;
	}
}
//========================================================================================================================================================
.seo-text {
	@include adaptiveValue("padding-block", 70, 40);
	@include gridContainer(0, 1070);
	// .home-text__content
	&__content {
	}
	// .home-text__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	// .home-text__show-more
	&__show-more {
	}
}
//========================================================================================================================================================
.advantages {
	padding-block-end: toRem(40);
	@include gridContainer();
	// .advantages__content
	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
		gap: toRem(30);
	}
	// .advantages__item
	&__item {
		display: flex;
		gap: toRem(20);
		align-items: center;
	}
	// .advantages__icon
	&__icon {
		flex-basis: toRem(80);
		flex-shrink: 0;
	}
	// .advantages__title
	&__title {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 140%; /* 28/20 */
	}
}
