[class*="_icon-"]::before {
	font-family: "icons";
	speak: never;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
._icon-add-more-products::before {
	content: "\e900";
}
._icon-add-review::before {
	content: "\e901";
}
._icon-arrow-down::before {
	content: "\e902";
}
._icon-cart::before {
	content: "\e903";
}
._icon-check::before {
	content: "\e904";
}
._icon-cross::before {
	content: "\e905";
}
._icon-favorite::before {
	content: "\e906";
}
._icon-filter::before {
	content: "\e907";
}
._icon-hide::before {
	content: "\e908";
}
._icon-in-stock::before {
	content: "\e909";
}
._icon-location::before {
	content: "\e90a";
}
._icon-long-arrow::before {
	content: "\e90b";
}
._icon-menu-catalog::before {
	content: "\e90c";
}
._icon-menu-close::before {
	content: "\e90d";
}
._icon-menu-part::before {
	content: "\e90e";
}
._icon-menu-sale::before {
	content: "\e90f";
}
._icon-menu-star::before {
	content: "\e910";
}
._icon-minus::before {
	content: "\e911";
}
._icon-more-arrow::before {
	content: "\e912";
}
._icon-phone::before {
	content: "\e913";
}
._icon-phone-lite::before {
	content: "\e914";
}
._icon-plus::before {
	content: "\e915";
}
._icon-q::before {
	content: "\e916";
}
._icon-r-answer::before {
	content: "\e917";
}
._icon-reviews::before {
	content: "\e918";
}
._icon-r-hide::before {
	content: "\e919";
}
._icon-r-like::before {
	content: "\e91a";
}
._icon-r-reply::before {
	content: "\e91b";
}
._icon-schedule::before {
	content: "\e91c";
}
._icon-search::before {
	content: "\e91d";
}
._icon-show-more::before {
	content: "\e91e";
}
._icon-slide::before {
	content: "\e91f";
}
._icon-slider-arrow::before {
	content: "\e920";
}
._icon-sort::before {
	content: "\e921";
}
._icon-s-telegram::before {
	content: "\e922";
}
._icon-s-viber::before {
	content: "\e923";
}
._icon-s-whatsapp::before {
	content: "\e924";
}
._icon-user::before {
	content: "\e925";
}
._icon-s-facebook:before {
	content: "\e926";
}
._icon-s-instagram:before {
	content: "\e927";
}
