@use "sass:math";
// ==========================================================
// Кольори
@import "_colors.scss";
// Локальне підключення шрифтів
@import "_icons.scss";
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1290;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================
html {
}
body {
	font-family: "ProximaNova", sans-serif;
	color: $mainColor;
	background-color: $lightColor;
}
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
	transition: all 0.3s;
	.cart-open &,
	.catalog-open & {
		filter: blur(toRem(2));
	}
}
/* ------------------------- */
[class*="__container"] {
	max-width: toRem($containerWidth);
	padding-inline: toRem(15);
	margin: 0 auto;
}
/* ------------------------ */
// Компоненти
@import "_common.scss";
// Окремі компоненти
@import "_header.scss";
@import "_footer.scss";

// Окремі сторінки
@import "_home.scss";

