/* Скидання стилів */
@import url("reset.css");

/* шрифти */
@font-face {
	font-family: "Proxima Nova";
	src:
		 url("../fon/ProximaNova-Regular.woff2") format("woff2"),
		 url("../fon/ProximaNova-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src:
		 url("../fon/ProximaNova-Semibold.woff2") format("woff2"),
		 url("../fon/ProximaNova-Semibold.woff") format("woff");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}
/* ------------------ */
body{
font-family: "Proxima Nova",sans-serif;
	color: hsl(0, 0%, 33%);
	background-color: hsl(0, 0%, 97%);
	font-size: 19px;
  line-height: 1.2632;
}
html, body {
	line-height: 1;
	height: 100%;
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
[class*=__container] {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}
/*--------------page-------------------*/
.page {
	padding: 65px 0 70px;
	background: #f8f8f8;
	color: #2B2929;
}

/*--------------title-------------------*/
.order-placement__title {
	font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 40px;
}
/*--------------form-------------------*/
.form-order > *:not(:last-child) {
	margin-bottom: 30px;
	border-bottom: 5px solid #f8f8f8;
}
.form-order > * {
	padding: 30px;
	padding-top: 0;
}
.form-order {
	max-width: 740px;
	padding-top: 30px;
	border-radius: 8px;
	background: #fff;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}
.form-order:not(:last-child){
	margin-bottom: 30px;
	border-bottom: 5px solid #f8f8f8;
}
.form-order > fieldset:nth-child(1) legend::before {
	background: url("../img/info.svg") center/contain no-repeat;
}
.form-order > fieldset legend::before {
	content: "";
	width: 60px;
	height: 60px;
	flex-shrink: 0;
}
.form-order > fieldset legend {
	font-weight: 600;
	font-size: 26px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	gap: 15px;
}
.customer-information__list {
	display: flex;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}
.customer-information__item {
	flex-basis: 325px;
	height: 50px;
}
.customer-information__field {
	width: 100%;
	height: inherit;
	padding: 10px 20px;
	border: 1px solid #D1D5D5;
	border-radius: 8px;
	transition: all .2s;
}
.form-order__customer-information > *:last-child {
	margin-bottom: 0;
}
/*----customer info------*/
.other-person__checkbox {
}
.other-person__label {
	color: #535353;
	display: flex;
	align-items: center;
	gap: 12px;
}
.other-person__checkbox:checked + label::before {
	background: url("../img/check.svg") center / contain no-repeat;
}
.other-person__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border: 2px solid #d1d5d5;
	border-radius: 1px;
	flex-shrink: 0;
}
.customer-information__other-person {
	position: relative; 
	display: inline-block; 
}
.form-order input[type="checkbox"], .form-order input[type="radio"] {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 0;
opacity: 0;
}
.form-order label {
	cursor: pointer;
}
.form-order__customer-information > * {
	margin-bottom: 20px;
}
/*-----delivery-method-----*/
.order-form > fieldset legend::before {
	content: "";
	width: 60px;
	height: 60px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	flex-shrink: 0;
}
*::before, *::after {
	display: inline-block;
}
*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}
.order-form > fieldset legend {
	font-weight: 600;
	font-size: 26px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	gap: 15px;
}
.form-order > fieldset:nth-child(2) legend::before {
	background: url("../img/delivery.svg")center / contain no-repeat;
}
.form-order__delivery-method > *:not(:last-child) {
	margin-bottom: 30px;
}

.delivery-method__list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.delivery-method__item {
	flex-basis: 210px;
    min-height: 142px;
    flex-grow: 1;
    position: relative;
}
.form-order input[type="radio"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.delivery-method__radio:checked + label {
	border-color: #ffbc57;
	box-shadow: 0 0 5px #ffce84;
}
.form-order label {
	cursor: pointer;
}
.delivery-method__radio:checked + label::before {
	visibility: visible;
	opacity: 1;
}
.delivery-method__label{
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 17px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	border: 3px solid #F8F8F8;
	border-radius: 8px;
	position: relative;
	transition: all .2s;
}
.delivery-method__label::before {
	content: "";
	width: 40px;
	height: 40px;
	background: url("../img/check.svg") center / contain no-repeat;
	position: absolute;
	top: 17px;
	left: 50%;
	transform: translateX(-50%);
	visibility: hidden;
	opacity: 0;
	transition: all .1s;
}
.delivery-method__label > span {
	display: block;
}
.delivery-method__radio:checked + label > img {
	visibility: hidden;
	opacity: 0;
}
.delivery-method__icon {
	max-width: 40px;
	transition: all .1s;
}
.delivery-method__delivery-type {
	line-height: 1.7;
	font-size: 15px;
	color: #1c1b1b;
	font-family: "Proxima Nova Rg"
}
.delivery-method__delivery-cost {
	font-size: 15px;
	color: #535353;
}
.delivery-method__work-shceduel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 25px;
	row-gap: 15px;
	flex-wrap: wrap;
	position: relative;
}
.work-shceduel {
	padding: 20px;
	padding-left: 80px;
	background: #f8f8f8;
	border-radius: 8px;
}
.delivery-method__work-shceduel::before {
	content: "";
	width: 40px;
	height: 40px;
	background: url("../img/place.svg") center / contain no-repeat;
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}
.work-schedule__text > *:not(:last-child) {
	margin-bottom: 5px;
}
.work-shceduel__time {
	line-height: 1.87;
}
.work-shceduel__location {
	font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}
.work-shceduel__map-button {
	padding: 13px 20px;
	background: #ffbc57;
	border-radius: 8px;
	font-weight: 600;
	font-size: 19px;
	color: #fff;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: all .2s;
}

.work-shceduel__map-button:hover{
	background: #aa7a32;
} 

.work-shceduel__map-button::before {
	content: "";
    width: 24px;
    height: 24px;
    background: url("../img/map.svg") center / contain no-repeat;
    flex-shrink: 0;
}
/*------payment------*/

.form-order > fieldset:nth-child(3) legend::before {
	background: url("../img/pay.svg")center / contain no-repeat;
}
.payment-method__list {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}
.payment-method__item {
	position: relative;
}
.payment-method__radio:checked + label::before {
	background: url("../img/check.svg") center / contain no-repeat;
}
.payment-method__label {
	font-size: 17px;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: all .2s;
}
.payment-method__label::before {
	content: "";
	width: 24px;
	height: 24px;
	background: url("../img/radio.svg") center / contain no-repeat;
	border-radius: 50%;
	flex-shrink: 0;
	transition: all .1s;
}
/*-------coment----------*/
.form-order > fieldset:nth-child(4) legend::before {
	background: url("../img/coment.svg") center / contain no-repeat;
}
.form-order textarea {
	outline-color: #ffbc57;
}
.comment-order__textarea {
			min-height: 150px;
			padding: 10px 20px;
			border: 1px solid #D1D5D5;
			border-radius: 8px;
			resize: vertical;
}
.form-order__button-box {
	text-align: center;
}
.order-form__submit-button {
	width: 80%;
    padding: 13px;
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    line-height: 24px;
    background: #ffbc57;
    border-radius: 8px;
    text-align: center;
    transition: all .5s;
    text-transform: uppercase;
}
.order-form__submit-button:hover{
	background: #aa7a32;
} 
