.header {



	// .header__main

	&__main {
	}

	// .header__logo

	&__logo {
		display: flex;
		align-items: center;
		z-index: 15;
		color: #181e4b;
		font-size: 44px;
		font-style: normal;
		font-family: "Poppins",sans-serif;
		font-weight: 500;
		position: relative;

		@media (any-hover: hover) {
			&:hover {
				&::after {
					background-color: #ff6f61; // зміна стилю псевдоелемента при наведенні
			}
			}}
		&::after {
			transition: all 0.4s;
			content: "";
			width: 15.5px;
			height:16.7px;
			border-radius: 50%;
			background-color: rgb(241, 165, 1);
			position: absolute; // Встановлюємо абсолютне позиціювання
			top: 39.1%; // Зміщуємо вниз, під елемент
			left: 83.6%; // Центруємо по горизонталі
			transform: translateX(-50%); 
			
	}
	&::before {
		content: "";
		transition: all 0.4s;
		width: 15.5px;
			height:16.7px;
		border-radius: 50%;
		background-color: rgb(241, 165, 1);
		position: absolute; // Встановлюємо абсолютне позиціювання
		top: 39.1%; // Зміщуємо вниз, під елемент
		left: 65.2%; // Центруємо по горизонталі
		transform: translateX(-50%); 
		
}
@media (any-hover: hover) {
	&:hover {
		&::before {
			background-color: #ff6f61; // зміна стилю псевдоелемента при наведенні
	}
	}}
	
	}

	// .header__burger

	&__burger {
	}
}
.main-header {

	// .main-header__wrapper

	&__wrapper {
		left: 0;
		right: 0;
		z-index: 8;
		position: fixed;
	
		&._wrapper-scroll {
			background-color: #fff;
		}
	}
	.wrapper {
	
	}

	// .main-header__container

	&__container {

		
	}

	// .main-header__row

	&__row {
		padding-left: 14px;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("padding-top", 47, 10, 0, $containerWidth, 320);
		@include adaptiveValue("padding-bottom", 18, 7, 0, $containerWidth, 320);
		@media (max-width: 600.98px) {
			// justify-content: flex-end;
		
		}
	}
	&__right {
		
		display: flex;
		align-items: center;
	
	}


	// .main-header__nav

	&__nav {
		@include adaptiveValue("padding-right", 55, 7, 0, $containerWidth, 1055);
	}

	// .main-header__button

	&__button {	
		// @include adaptiveValue("margin-left", 15, 7, 0, $containerWidth, 594);

		// @include adaptiveValue("margin-right", 15, 7, 0, $containerWidth, 594);
		display: flex;
		justify-content: center;
		font-size: 17px;
		font-weight: 500;
		border-radius: 5px;
		z-index: 11;
		padding-block:toRem(9); 
		padding-inline:toRem(21); 
		width: 100%; 
		transition: all 0.4s;
			@media (max-width: toEm(593.98)) {
				border: 1px solid #212832;
				font-size: toRem(25);
			};
			@media (any-hover: hover) {
			&:hover {
				
				background-color: #F1A501;
				color: #fff;
			}}
		
		&--border {
			min-width: toRem(110);
			z-index: 11;
			display: flex;
			justify-content: center;
			font-size: 17px;
		font-weight: 500;
		border: 1px solid #212832;
		border-radius: 5px;
		padding-block:toRem(9); 
		padding-inline:toRem(21);  
		transition: all 0.4s;
		
		@media (any-hover: hover) {
		&:hover {
			background-color: #F1A501;
			border: 1px solid #F1A501;
			color: #fff;
		}
	}
	@media (max-width: toEm(593.98)) {

		font-size: toRem(25);
	};
		}
	}

	// .main-header__icon-menu

	&__icon-menu {
	}
}
.main-header {

	// .main-header__nav


}
.main-header {

	// .main-header__nav

	&__nav {
	}
}
.nav-main-header {

	// .nav-main-header__list

	&__list {
		display: flex;
		// width: toRem(150);
		transition: all 0.4s;
    align-items: center;
    column-gap: toRem(24);
		@media (max-width: toEm(991.98)) {
			flex-direction: column;
			row-gap: toRem(20);
			font-size: toRem(20);
			width: 100%;
		}  
		@media (max-width: toEm(991.98)) {
			font-size: toRem(25);
			row-gap: toRem(25);
		}
	@media (max-width: 540.98px) {
	
		row-gap: toRem(40);
	}
	}

	// .nav-main-header__item

	&__item {
		position: relative;
	}

	// .nav-main-header__item--destination-popap

	&__item--destination-popap {
		display: flex;

    align-items: center;
    gap: toRem(5);
transition: all 0.4s;
    cursor: pointer;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: -15px;
   
		@media (any-hover: hover) {
			&:hover {
		text-decoration: underline;
			}}
	}

	// .nav-main-header__current

	&__current {
	}

	// .nav-main-header__arrow

	&__arrow {
	
		display: flex;
	align-items: center;
	justify-content: center;

	inline-size: toRem(20);
	aspect-ratio: 1 / 1;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
	transition: transform 0.5s;
	margin-inline-start: toRem(3);

	span {
		z-index: 10;
		position: absolute;
		inset-block-start: -2px;
		inset-inline-start: 0;
		inline-size: toRem(18);
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1 / 1;
		font-size: toRem(16);
		transition:
			transform 0.5s,
			opacity 0.5s;
		&:first-child {
			padding-top: toRem(5);
		}
		&:last-child {
			opacity: 0;
			margin-top: toRem(2);
		}
	}
	.--active & {
		span {
			transform: rotate(-180deg);
			&:first-child {
				opacity: 0;
			}
			&:last-child {
				opacity: 1;
			}
		}
	}
	}

	// .nav-main-header__destination

	&__destination {
		position: absolute;
		inline-size: 125%;
		inset-block-start: 100%;
		width: toRem(100);
		inset-inline-start: 0;
		padding-block-start: toRem(10);
		padding-inline-start: toRem(0);
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.5s,
			visibility 0.5s;
			z-index: 1;
		&::before {
			content: "";
			margin-top: toRem(70);
			position: absolute;
			z-index: -1;
			background-color: #fff;
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
			inset-inline-start: toRem(-25);
			inset-block-start: toRem(-75);
			inline-size: calc(100% + toRem(50));
			block-size: calc(100% + toRem(20));
			border-radius: toRem(8);
		}
		.--active & {
			opacity: 1;
			visibility: visible;
		}
	
		@media (max-width: toEm(991.98)) {
			// min-width: toRem(200);
			inset-inline-start: 1px;
			// inset-inline-end: 0;
		}
	}

	// .nav-main-header__link

	&__link {
		transition: all 0.4s;
		@media (any-hover: hover) {
			&:hover {
		text-decoration: underline;
			}}
	}
}
.list-header {
}
.icons-angle-down {
	font-size: toRem(18);
}
.icons-cross {
	font-size: toRem(18);
}
.destination-nav-header {

	// .destination-nav-header__list

	&__list {
		width: 100%;
	}

	// .destination-nav-header__item

	&__item {
		padding-bottom: 10px;
		
	}

	// .destination-nav-header__link

	&__link {
		text-align: center;
		display: flex;
		justify-content: center;
		align-self: center;
		transition: all 0.4s;
	
		@media (any-hover: hover) {
			&:hover {
		text-decoration: underline;
			}}
	}
}



.actions-header {

	// .actions-header__lang


}
//=============
.actions-header {

	// .actions-header__lang

	&__lang {
		display: flex;
		align-items: center;
		justify-content: center;

	}
}
.lang-header {

	// .lang-header__current

	&__current {
	}
}
.current-lang-header {
	z-index: 50;
	padding-inline: toRem(10);
	// .current-lang-header__list

	&__list {
		z-index: 10;
		display: flex;
		// width: toRem(150);
		transition: all 0.4s;
    align-items: center;
    column-gap: toRem(24);
		@media (max-width: toEm(991.98)) {
			flex-direction: column;
			row-gap: toRem(20);
			font-size: toRem(20);
			width: 100%;
		}  

	}

	// .current-lang-header__item

	&__item {
		z-index: 10;
		position: relative;
	}

	// .current-lang-header__item--lang-popap

	&__item--lang-popap {
		z-index: 10;
		display: flex;
justify-content: center;
    align-items: center;
    gap: toRem(5);
transition: all 0.4s;
    cursor: pointer;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: -15px;
   
		@media (any-hover: hover) {
			&:hover {
		text-decoration: underline;
			}}
	}

	// .current-lang-header__current

	&__current {
		z-index: 10;
	}

	// .current-lang-header__arrow

	&__arrow {
	
		display: flex;
	align-items: center;
	justify-content: center;

	inline-size: toRem(20);
	aspect-ratio: 1 / 1;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
	transition: transform 0.5s;
	margin-inline-start: toRem(3);

	span {
		z-index: 10;
		position: absolute;
		inset-block-start: -2px;
		inset-inline-start: 0;
		inline-size: toRem(20);
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1 / 1;
		font-size: toRem(16);
		transition:
			transform 0.5s,
			opacity 0.5s;
		&:first-child {
			padding-top: toRem(5);
		}
		&:last-child {
			opacity: 0;
		}
	}
	.--active & {
		span {
			transform: rotate(-180deg);
			&:first-child {
				opacity: 0;
			}
			&:last-child {
				opacity: 1;
			}
		}
	}
	}

	// .current-lang-header__language

	&__language {
		z-index: 10;
		position: absolute;
		inline-size: 125%;
		inset-block-start: 100%;
		// width: toRem(100);
		inset-inline-start: -14px;
		padding-block-start: toRem(10);
		padding-inline-start: toRem(0);
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.5s,
			visibility 0.5s;
			z-index: 1;
		&::before {
			content: "";
			margin-top: toRem(70);
			position: absolute;
			z-index: -1;
			background-color: #fff;
			box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
			inset-inline-start: toRem(10);
			inset-block-start: toRem(-75);
			inline-size: calc(100% + toRem(-15));
			block-size: calc(100% + toRem(2));
			border-radius: toRem(8);
		}
		.--active & {
			opacity: 1;
			visibility: visible;
		}
	

  
	}
}
.list-header {
}
.icons-angle-down {
}
.icons-cross {
}
.language-lang-header {

	// .language-lang-header__list

	&__list {
		// width: 100%;
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;
	}

	// .language-lang-header__item

	&__item {
		padding-bottom: 10px;
	}

	// .language-lang-header__link

	&__link {
	}
}
.language-lang-headerr {

	// .language-lang-headerr__link

	&__link {
		display: flex;
		justify-content: center;
		align-self: center;
		transition: all 0.4s;
	
		@media (any-hover: hover) {
			&:hover {
		text-decoration: underline;
			}}
	}
}
.page {

	// .page__action

	&__action {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .page__theme

	&__theme {
	}

	// .page__reset

	&__reset {
	}
}
.main-header {

	// .main-header__icon-menu

	&__icon-menu {
	}
}
.icon-menu {
}






.icon-menu {
	display: none;
	@media (max-width: toEm(991.98)) {
		
	@include adaptiveValue("margin-left", 25, 7, 0, $containerWidth, 320);
		display: block;
		z-index: 15;
		position: relative;
		width: 30px;
		height: 18px;
		&::before,
		&::after {
			content: "";
		}

		&::before,
		&::after,
		span {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #1e2832;
			transition: all 0.3s;
			border-radius: 10px;
		}

		span {
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		.menu-open & {
			span {
				transform: scale(0.01, 1) translateY(-50%);
			}
			&::before {
				top: 9px;
				transform: rotate(-45deg);
			}
			&::after {
				bottom: 7px;
				transform: rotate(45deg);
			}
		}
	}
}
.burger-header {
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	transition: all 0.3s;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 10;
	overflow: auto;

	@include adaptiveValue("padding-top", 124, 100, 0, $containerWidth, 320);
	padding-bottom: 30px;
	border-left: 1px solid #e3e3e3;

		@media (max-width: toEm(991.98)) {
		max-width: 50%;
	}
	@media (max-width: toEm(600.98)) {
		max-width: 100%;
	}

		&::before {
			content: "";
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 100%;
		height: 94px;
		background-color: #fff;
		width: 100%;
		z-index: 13;
		@media (max-width: toEm(991.98)) {
			max-width: 50%;
		}
		}
		.menu-open & {
			right: 0;
	
			&::before {
				right: 0;
			}
		}
	// .burger-header__container

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: toRem(20);
	}
}
//===============


.page__theme{
z-index: 15;
	width: 30px;
	height: 30px;
	flex: 0 0 30px;
	cursor: pointer;
}
.page__action{
	z-index: 15;
	position: relative;
}
.page__reset{
	opacity: 0;
	visibility: hidden;
}
.page__reset.active{
	opacity: 1;
	visibility: visible;
}
.page__reset::before{
	content:"x";
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	width: 10px;
	height: 10px;
	font-size: 7px;
	border-radius: 50%;
	line-height: 10px;
	color: #fff;
	text-align: center;
	background-color: #666;
}

.page__text {
	line-height: 150%;
}
.page__text p:not(:last-child){
	margin-bottom: 20px;
}

body {
	transition: all 0.3s ease 0s;
	background-color: #fff;
	color: #333;
	
}
html.dark {

	.inset-travel__text,
	.inset-travel__title,
	.inset-travel__label,
	.main-header__wrapper,
	.inset-travel__word {
    color: #fff;
    background-color: #333;
  }
}
html.dark {
	.item-destination__current{
		color: #fff;
	}
}
html.dark {
	.main-header__button--border
	 {

		border: 1px solid #F1A501
  }
}

html.dark {
	.item-destination__current,
	.icons-angle-down {
		&:hover{color: #333;
    background-color: #fff;
  }
}}

html.dark .icon-menu{
	&::before,
	&::after,
	span {
		background-color: #fff;
	}
}
html.dark {
	.travel__bachground
	 {
  display: none;
  }
}


html.dark {
  body {
    color: #fff;
    background-color: #333;
  }
}
html.light {
  body {
    color: #333;
    background-color:  #fff;
  }
}
html.dark {
  .page__theme{
		background: url('../img/sun.svg') 0 0 / 100% no-repeat;
  }
}
html.light {
  .page__theme{
		background: url('../img/moon.svg') 0 0 / 100% no-repeat;
  }
}

button {
	background-color: inherit;
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
}