/* Локальне підключення шрифтів */
/* @import url("fonts.css"); */

/* Скидання стилів */
@import url("reset.css");

body {
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

/* --------------------- */

.page {
	padding: 20px;
}

.blocks {
}
.blocks__item {
	padding: 15px;
	text-transform: uppercase;
	text-align: center;
}
.blocks__item:nth-child(1) {
	background-color: #794f45;
}
.blocks__item:nth-child(2) {
	background-color: #77608d;
}
.blocks__item:nth-child(3) {
	background-color: #7a956b;
}

/*
Різне CSS позиціонування дуже часто 
використовується при верстці макетів 
і відкриває для нас нові цікаві можливості 
розташування елементів у потоці. 
Але треба бути обережними та вміти поводитися 
з цими можливостями грамотно.

Модуль позіціонування:
Основна властивість - position 
А також властивості розташування
top,
left,
right,
bottom
а також z-index

Значення властивості position
static - (за замовченням) статичне позиціонування
relative - відносне позіціонування
absolute - абсолютне позіціонування
fixed - фіксоване позіціонування
sticky - липке позіціонування 
(гібрідне поєднання значень static та fixed)

(!) Властивості top, left, right, bottom та z-index 
працюють тільки зі значеннями position
відмінними від static

При позиціонуванні елементу вказавши значення для top, 
bottom перестає працювати. 
Так само це працює з left та right. При цьому, 
якщо таки ж вказати обидві властивості то 
пріоритетними будуть: 
по Y top, а по X left. 
Гарною практикою є вказання значень лише для 
однієї властивості на вісь. 

z-index - керує положенням об'єкту по осі Z
auto - (за замовченням) ближчим буде об'єкт який нижче по коду
число від 0 до 9999(?) - порядковий номер на осі Z
Не впливає на позіціонування батьківського об'єкту у якого 
position відмінний від static


*/
/*
.blocks__item {
	position: static;
}
*/

/* 
relative - відносне позиціонування. 
Об'єкт позіціонується відносно свого 
поточного місця положення.
(відносно свого положення в коді)

Для позиціонування об'єкту (з position: relative;) 
по вертикалі використовуючи відсотки неможливе 
без чіткої вказанної висоти для батьківського елементу
Наприклад: top: 10% не спрацює 
без вказання висоти для батьківського елементу
*/

.blocks {
	/* height: 200px; */
}

.blocks__item:nth-child(2) {
	/*
	position: relative;
	top: 10px;
	left: 20px;
	z-index: 1;
	*/

	/*
	left: 10%;
	top: 15%;
	*/
}
.blocks__item:nth-child(3) {
	/* position: relative; */
	/* z-index: 2; */
}

/* z-index та батьківськи елементи */
/*
.section-1 {
}
.section-1__item {
	position: relative;
	background-color: #77608d;
	top: 10px;
	z-index: 2;
}
.section-2 {
	position: relative;
	z-index: 1;
}
.section-2__item {
	position: relative;
	background-color: #7a956b;
	z-index: 5000;
}
*/

/*
absolute - абсолютне (безумовне) позиціонування.
1) Разом з position: absolute; обов'язково використовуйте 
	властивості для позіціонування (left або right, top або bottom)
2) Об'єкт позіціонується відносно першого батьківського елементу, 
	position якого відмінний від static. Або від тегу BODY
3) Об'єкт втрачає свою блочну сутність. Також втрачає 
	своє положення в коді, та простір який він займав
4) Не можемо вказувати для БЕМ-блоків

Для позиціонування об'єкту (з position: absolute;) 
по вертикалі,використовуючи відсотки, відсоток 
буде братись від висоти батьківського елементу
*/
/*
.blocks {
	position: relative;
}
.blocks__item:nth-child(2) {
	position: absolute;
	left: 10%;
	top: 10%;
}
*/
/*
fixed - фіксоване позіціанування
1) Разом з position: absolute; обов'язково використовуйте 
	властивості для позіціонування (left або right, top або bottom)
2) Об'єкт втрачає свою блочну сутність. 
	Також втрачає своє положення в коді, та простір який він займав.
3) Завжди позіціонується відносно вікна браузера (в'юпорт).
4) Не приймає участі у скролі.
5) Не можемо вказувати для БЕМ-блоків
*/
/*
.blocks {
	position: relative;
}
.blocks__item:nth-child(2) {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
*/

/* 
sticky - Це гібридне поєднання значень static та fixed. 
Спочатку елемент веде себе як static але після того 
як скролл доходить до його кордону він стає 
fixed та прилипає до зазначеної позиції top bottom left right.

!!! Не працює, якщо у батьківських об'єктах присутній 
overflow: hidden;

*/

/*
.blocks {
}

.blocks__item:nth-child(1) {
	position: sticky;
	top: 0px;
}

.blocks__item:nth-child(2) {
	position: sticky;
	top: 0px;
}
*/

/* Практика */

/* Фіксований header + Випадаюче меню */
.header {
	background-color: #7a956b;
	padding: 15px;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.menu {
}
.menu__list {
	font-size: 0;
}
.menu__item {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.menu__item:not(:last-child) {
	margin-right: 10px;
	margin-bottom: 10px;
}
.menu__link {
	background-color: #794f45;
	padding: 5px 10px;
}
.menu__item:hover .menu__link {
	background-color: #77608d;
}
.menu__item:hover .sub-menu {
	display: block;
}
.sub-menu {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #77608d;
	padding: 10px;
	z-index: 2;
	width: 100%;
	min-width: 90px;

	display: none;
}
.sub-menu__list {
}
.sub-menu__item {
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 5px;
}
.sub-menu__link {
	font-size: 12px;
}
.sub-menu__link:hover {
	text-decoration: underline;
}

/* Декор списку */
.list {
}
.list__item {
	position: relative;
	padding-left: 45px;
}
.list__item:not(:last-child) {
	margin-bottom: 10px;
	line-height: 1.2;
}
.list__item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: url("../img/li-icon.svg") 0 0 / 100% no-repeat;
	width: 30px;
	height: 30px;
	transition: all 0.3s;
}

.list__item:hover::before {
	transform: scale(1.2);
}

.page {
	position: relative;
}

/* Декор секції / сайту */
.decor {
	position: absolute;
	top: 50%;
	margin-top: -163px;
	right: 0;
	opacity: 0.2;
}

/* Зображення з ефектом №1  */
.image {
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.image::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	transition: all 0.3s;
}

.image__item {
	max-width: 100%;
}

.image:hover::before {
	opacity: 0;
}

/* Зображення з ефектом №2  */
.some-picture {
	width: 200px;
	position: relative;
}

.some-picture--margin {
	margin-bottom: 100px;
}
.some-picture__item {
	width: 100%;
	position: relative;
	border-radius: 30% 0 30% 0;
	z-index: 2;
}
.some-picture::before {
	border-radius: 30% 0 30% 0;
	border: 1px solid #000;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 18px;
	top: 20px;
}

/* Картка продукту */

.product-card {
}
.product-card__picture {
	position: relative;
}

.product-card__labels {
	position: absolute;
	top: 22px;
	left: 0;
}
.product-card__label {
	background-color: #ff6f61;
	padding: 10px 15px;
	text-transform: uppercase;
	color: #fff;
}

.product-card__label:not(:last-child) {
	margin-bottom: 10px;
}

.product-card__label--black {
	background-color: #000;
}

.product-card--margin {
	margin-bottom: 50px;
}
.product-card > * {
	margin-bottom: 15px;
}
.product-card__link {
}
.product-card__link:hover {
}
.product-card__image {
	max-width: 100%;
}
.product-card__title {
	margin-bottom: 10px;
	font-size: 18px;
}
.product-card___link-title {
}
.product-card___link-title:hover {
	text-decoration: underline;
}
.product-card__category {
}
.product-card > *:last-child {
	margin-bottom: 0;
}

/* Приклад зміна кьольору svg  */
.some-icon:hover path {
	fill: red;
}
