$mainColor : #F1E9D6;//for background
$GreynColor: #7D806A;//for title
$brownColor: #8E6746;//for sub-title
$blackColor: #333;//for text
$newGreenlightColor:#EEF0DC;// for green backgound
$lightGreen: #DEE2BD;//for footer     



