/* Скидання стилів */
@import url("reset.css");

/* шрифти */
@font-face {
	font-family: "Proxima Nova";
	src:
url("../fon/ProximaNova-Regular.woff2") format("woff2"),
	url("../fon/ProximaNova-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src:
	url("../fon/ProximaNova-Semibold.woff2") format("woff2"),
url("../fon/ProximaNova-Semibold.woff") format("woff");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}
/*---------------------------------*/
body{
  font-family: "Proxima Nova Rg","Proxima Nova Lt",sans-serif;
	color: hsl(0, 0%, 33%);
	background-color: rgb(247, 247, 247);

}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
  padding-block: 20px;
}
.wrapper > main {
	flex-grow: 1;
}


/* --------container---------- */
[class*=__container] {
	max-width: 1320px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header{
	top: 0;
	left: 0;
	width: 100%;
	position: static;
	z-index: 100;
}
/*-----Top Header-----*/

.header__top {

}
.top-header {
	background-color: #f8f8f8;
	padding-top: 15px;
	padding-bottom: 15px;
}
.top-header__container {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.top-header__menu {
}
.menu-top-header {
}
.menu-top-header__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 10px;
}
.menu-top-header__item {
}
.menu-top-header__link {
	transition: 0.5s;
	line-height: 30px;
	font-size: 16px;
	font-weight: 400;
}

@media (any-hover: hover) {
	.menu-top-header__link:hover {
		color: hsl(36deg 100% 57%);
	}
}
.top-header__action {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 10px;
}
.top-header__social {
}
.social-top-header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 10px;
}
.social-top-header__label {
	font-size: 16px;
}
.social-top-header__list {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.social-top-header__item {
}
.social-top-header__link {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.8s;
}
.social-top-header__link img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 17/17;
}
@media (any-hover: hover) {
	.social-top-header__link:hover {
		transform: scale(1.05);
		transform: rotate(1turn);
	}
}

.top-header__lang {
}
.lang-top-header {
	cursor: pointer;
	position: relative;
}
@media (any-hover: hover) {
	.lang-top-header:hover .lang-top-header__list {
		top: 100%;
		opacity: 1;
		pointer-events: all;
	}
}
.lang-top-header__label {
	font-weight: 600;
	font-size: 19px;
	display: flex;
	align-items: center;
	gap: 6px;
}
.lang-top-header__label::after {
	content: "";
	flex-shrink: 0;
	width: 12px;
	height: 8px;
	background: url("../img/icons/arrow_down.svg") 0 0 / 100% no-repeat;
}
.lang-top-header__list {
	pointer-events: none;
	position: absolute;
	top: 120%;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 10px;
	opacity: 0;
	transition: all 0.3s;
	z-index: 5;
}
.lang-top-header__link {
	transition: 0.4s;
}
@media (any-hover: hover) {
	.lang-top-header__link:hover {
		color: hsl(36deg 100% 57%);
	}
}
@media (any-hover: hover) {
	.lang-top-header__label:hover {
		color: hsl(36deg 100% 57%);
	}
}
.lang-top-header__item {
}
.lang-top-header__item:not(:last-child) {
	margin-bottom: 5px;
}
/*------header__mindle--------header__mindle-------------header__mindle---------header__mindle---------------header__mindle------------------*/
.header__middle {
}
.middle-header {
	padding-top: 25px;
	padding-bottom: 25px;
}
.middle-header:not(:last-child) {
	border-bottom: 2px solid #f8f8f8;
}
.middle-header__container {
	display: flex;
	/* flex-wrap: wrap; */
	column-gap: 30px;
	row-gap: 10px;
	align-items: center;
	justify-content: space-between;
}
.middle-header__logo {
	margin-right: 5px;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	justify-content: flex-end;
}
.middle-header__logo img{
	width: 100%;
	height: 100%;
	aspect-ratio:250/42 ;
	object-fit: cover;
}
.middle-header__catalog {
	z-index: 2;
	text-align: center;
	position: relative;
	background-color: #ffbc57;
	padding: 11px 20px;
	border-radius: 8px;
	min-height: 50px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s;
}
@media (any-hover: hover) {
	.middle-header__catalog:hover {
		background-color: hsl(36deg 100% 57%);
	}}
	.catalog__label {
		font-size: 19px;
		font-weight: 600;
		display: flex;
		align-items: center;
		color: #fff;
		gap: 10px;
	}
	.catalog__label::before {
		content: "";
		background: url("../img/icons/menu-catalog.svg") 0 0 no-repeat;
		flex-shrink: 0;
		height: 24px;
		width: 24px;
		transition: 0.7s;
	}
	.catalog__label:focus-visible::before {
		transform: rotate(1turn);
	}
	@media (any-hover) {
		.catalog__label:hover::before {
			transform: rotate(1turn);
		}
	}
/*--search--search---search-----search----search-*/
.search-middle-header {
	display: flex;
  align-items: center;
	border: 1px solid #b1b1b1;
	border-radius: 9px;
	flex-grow: 1;
	}
.search-middle-header__field {
	flex: auto;
  border-color: hsl(0deg 0% 69%);
}
.search-middle-header__field:last-child {
  margin-left: -51.5px;
  padding-left: 60.5px;
}
.search-middle-header__field:first-child {
  margin-right: -51.5px;
  padding-right: 60.5px;
}
.search-middle-header__field::placeholder {
  color: hsl(0deg 0% 69%);
}
.search-middle-header__button {
  position: relative;
  width: 50px;
  height: 49px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s ;
}

	.field {
		padding: 9px 19px;
		border-radius: 8px;
		border: 1px solid hsl(180deg 5% 83%);
		font-size: 16px;
		line-height: 1.875;
		transition: border-color 0.3s;
	}

	@media (any-hover) {
		.field:hover {
			border-color: hsl(36deg 100% 57%);
		}
	}
	.field::placeholder {
		opacity: 1;
	}

/*----contact-----*/
.middle-header__contacts {
	z-index: 2;
	position: relative;
	flex-shrink:0;
}
.contacts-middle-header__middle{
	
}
.contacts-middle-header {
	display: flex;
	align-items: center;
	gap: 10px;
}
.contacts-middle-header__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f8f8f8;
	border-radius: 50%;
	flex-shrink: 0;
	width: 50px;
	height: 50px;
}
.contacts-middle-header__icon:hover {
	background-color:#ffbc57;
}
.contacts-middle-header__middle {
	padding-right: 27px;
	position: relative;
}
.contacts-middle-header__middle::after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0px, -50%);
	background: url("../img/icons/arrow_down.svg") 0 0 no-repeat;
	width: 12px;
	height: 8px;
}
.contacts-middle-header__label {
	font-size: 13px;
	font-weight: 300;

}
.contacts-middle-header__label:not(:last-child) {
	margin-bottom: 5px;
}
@media (any-hover: hover) {
	.phones-contacts-header:hover .phones-contacts-header__items {
		top: 100%;
		opacity: 1;
		pointer-events: all;
	}
}
.contacts-middle-header__phones {
}
.phones-contacts-header {
}
.phones-contacts-header__current {
	color: #2b2929;
	font-size: 20px;
	font-weight: 600;
	transition: all 0.3s;
}
.phones-contacts-header__current:hover {
	color: hsl(36deg 100% 57%);
}
.phones-contacts-header__items {
	position: absolute;
	top: 110%;
	left: 0;
	padding-top: 5px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.phones-contacts-header__link:hover {
		color:#ffbc57;
	}
}
.phones-contacts-header__list {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 15px;
	border-radius: 8px;
}
.phones-contacts-header__item {
}
.phones-contacts-header__item:not(:last-child) {
	margin-bottom: 10px;
}
.phones-contacts-header__link {
	font-size: 19px;
	font-weight: 600;
	color: #2b2929;
}
.phones-contacts-header__link {
}
/*---middle--*/
.middle-header__actions {
	z-index: 2;
	position: relative;
	display: flex;
	column-gap: 20px;
	row-gap: 5px;
}
.middle-header__action-link {
	border-radius: 50%;
	border: 2px solid #ffbc57;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	flex-shrink: 0;
	transition: background-color 0.3s;
}
@media (any-hover: hover) {
	.middle-header__action-link:hover {
		background-color: #ffbc57;
	}
}
.menu-icon {
}
/*--BOTTOM---*/
.header__bottom {
	padding-top: 18px;
	padding-bottom: 18px;
}
.bottom-header {
}
.bottom-header__container {
	display: flex;
	column-gap: 20px;
	row-gap: 10px;
	justify-content: space-between;
	align-items: center;
}
.bottom-header__sections {
}
.sections-menu {
}.sections-menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 5px;
}
.sections-menu__item {
}
.sections-menu__link {
	font-weight: 600;
	padding-left: 29px;
	line-height: 24px;
}
@media (any-hover: hover) {
	.use-menu__link:hover {
		color: #ffbc57;
	}
}
@media (any-hover: hover) {
	.sections-menu__link:hover {
		color: #ffbc57;
	}
}
.sections-menu__link--star {
	background: url("../img/icons/star-icon.svg") left / 24px no-repeat;
}
.sections-menu__link--sale {
	background: url("../img/icons/devide-icon.svg") left / 24px no-repeat;
}
.sections-menu__link--part {
	background: url("../img/icons/credit-icon.svg") left / 24px no-repeat;
}
.bottom-header__use {
}
.use-menu {
}
.use-menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 5px;
}
.use-menu__item {
}
.use-menu__link {
	font-weight: 600;
	line-height: 24px;
}
.menu-icon {
	display: none;
}
.header__burger {
	display: none;
}

/*---Media-------Media--------Media-------Media-------Media----Media-------*/
@media (max-width: 1170px) {
	.middle-header__container {
		column-gap: 20px;
	}
	.middle-header__logo  {
		width: 170px;
	}
	.middle-header__logo img {
		width: 242px;
	}
	.menu-top-header__list,
	.sections-menu__list,
	.use-menu__list {
		column-gap: 20px;
	}
	.middle-header__catalog span::before {
		display: none;
	}
}
@media (max-width: 991.98px) {
	.social-top-header__label {
		display: none;
	}
	.menu-icon {
		display: block;
		position: relative;
		height: 18px;
		width: 30px;
		flex-shrink: 0;
		z-index: 2;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		transition: all 0.3s;
		background-color: #000;
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		transform: translate(0px, -50%);
	}
	
	.menu-open .menu-icon::before {
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .menu-icon::after {
		transform: rotate(45deg);
		bottom: 50%;
		margin-bottom: -1px;
	}
	.menu-open .menu-icon span {
		transform: scale(0);
	}
	.header__burger {
		display: block;
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 1;
		overflow: auto;
		padding-top: 194px;
		padding-bottom: 30px;
	}
	.header__burger::before {
		content: "";
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 100%;
		height: 164px;
		background-color: #fff;
		z-index: 3;
	}
	.menu-open .header__burger {
		right: 0;
	}
	.menu-open .header__burger::before {
		right: 0;
	}
	.burger-header__container {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	
	.menu-top-header__list,
	.sections-menu__list,
	.use-menu__list {
		flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
		row-gap: 25px;
	}

	.menu-top-header__link,
	.sections-menu__link,
	.use-menu__link {
		font-size: 28px;
		font-weight: 600;
	}
	.contacts-middle-header__middle {
		display: none;
	}
	.top-header__container {
		flex-direction: column;
		row-gap: 40px;
		align-items: flex-start;
	}
	.top-header__action {
		align-self: stretch;
		justify-content: space-between;}

	/* Переноситься в бургер */
	.header__top {
		display: none;
	}
	.bottom-header,
	.middle-header {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.middle-header__actions {
	}
	.middle-header__catalog {
		flex-grow: 1;
	}
@media (max-width: 600px) {
	.middle-header__logo {
		width: 105px;
	}
	.middle-header__logo img {
		width: 150px;
	}


}}


/*--------Main categories-----------*/
.categories:not(:last-child) {
	margin-bottom: 40px;
}
.title__main,
.title__popular {
	color: hsl(0, 2%, 16%);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
}

.categories__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 24px 10px;
}
/*--------categories__card----*/
.categories__card {
	width: 250px;
	height: 300px;
	flex: 0 1 250px;
	transition: transform 0.5s;
}
.categories__card:hover{
	background-color: hsla(10, 10%, 20%, 0.06);
	transform: translateY(10px);
}
.card-category:is(:hover, :focus-visible) .card-category__label {
  color: hsl(36, 100%, 57%);
}
.card-category {
	position: relative;
	z-index: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	border-radius: 8px;
	background-color: hsl(0, 0%, 100%);
	box-shadow: -3px 4px 15px 0 hsla(0, 0%, 0%, 0.06);
	transition: transform 0.5s;
}
.card-category:is(:hover, :focus-visible)::after {
  transform: rotate(180deg);
	background-color: hsl(0, 0%, 100%);
}
.card-category:before{
	content: "";
	position: absolute;
	z-index: -1;
	inset: auto -15px -88px;
	width: 280px;
	height: 280px;
	border-radius: 50%;
	background-color: hsl(0, 0%, 97%);
	transition: background-color 0.5s;
}
.card-category::after{
	content: "";
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url("../img/icons/arrow-right.svg") center / 40px 40px no-repeat;
}
.card-category__header {
	display: flex;
    gap: 20px;
    justify-content: space-between;
}
.card-category__label {
	color: hsl(0, 2%, 16%);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}
.card-category__number {
	color: hsl(0, 0%, 69%);
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}
.card-category__picture {
	flex: 1;
	position: relative;
}
.card-category__picture::after {
	position: absolute;
    right: 20px;
    bottom: 20px;
  object-fit: cover;
	object-position: bottom;
	transform: scale(1.3);
}
.card-category__picture img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: contain;
	aspect-ratio:250/300 ;
	
}
/*----------Popular---------*/
.popular:not(:last-child) {
	margin-bottom: 40px;
}
.popular__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}
.popular__card {
	width: 300px;
    flex: 0 1 300px;
		transition: transform 0.5s;
		padding: 20px;
		background-color: rgb(255, 255, 255);
		transition: 1s;
border-radius: 8px;
}

.card__picture{
	position: relative;
	display: block;
	padding-bottom: 81%;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;
}
.card__picture img{
	transition: transform 0.3s ease 0s;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	aspect-ratio: 260/220;
}
.card__picture:hover img{
	transform: scale(1.1);
}
.card-pop{
	padding: 19px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 8px;
	border: 1px solid hsl(0, 2%, 89%);
	background: hsl(0, 0%, 100%);
}
.card__content,
.sale__content {
	flex: auto;
    display: flex;
    flex-direction: column;
		padding-bottom: 10px;
		gap: 10px;
}
.card__picture {
	transition: transform 0.5s;
}

.card__picture img{
	aspect-ratio: 260 / 220; 
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card-category__picture{
	aspect-ratio: 250 / 300; 
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card__size {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.6923;
}
.card__title {
	font-weight: 600;
	padding-bottom: 20px;
	padding-top: 20px;
	
}
.card__available {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.6923;
	display: flex;
	align-items: center;
	gap: 5px;
}
.card__available{
	padding-bottom: 21px;
}
.card__available::before{
	content: "";
    align-self: flex-start;
    width: 24px;
    height: 24px;
    padding: 2px;
    flex: none;
		background: url("../img/icons/check.svg") center / contain no-repeat content-box;
}
.card__footer {
  display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.card__acions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}
.card__favorite {
	background: url("../img/icons/like.svg")center / 26px 23px no-repeat, hsl(0, 0%, 97%);
	transition: transform 0.5s;
}
.card__favorite:hover{
	background-color: hsl(0, 9%, 89%);
}
.button-round {
	width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card__basket {
	background: url("../img/icons/basket-2.svg")center / 25px 25px no-repeat, hsl(36, 100%, 67%);
	transition: transform 0.5s;
}
.card__basket:hover{
	background-color: hsl(0, 9%, 89%);
}
.card__offer {
	display: flex;
    flex-direction: column;
  
}
.card__previous {
	color: hsl(0, 72%, 56%);
    font-size: 15px;
    line-height: 1.4667;
    text-decoration-line: line-through;
}
.card__carent {
	color: hsl(0, 2%, 16%);
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
justify-content: center;
}

/*--------SALE------------*/
.main__sale:not(:last-child) {
	margin-bottom: 70px;
}
.header-block{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px 30px;
}
.header-block:not(:last-child) {
	margin-bottom: 40px;
}

.header-block__title{
	color: hsl(0, 2%, 16%);
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
}
@media(max-width:600px){
.header-block__title{
	font-size: 30px;
}}
.header-block__link {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	font-weight: 600;
	color: hsl(36, 100%, 67%);
	transition: transform 0.5s;
}
.header-block__link:hover{
transform: translateX(10px);
}
.header-block__link:is(:hover, :focus-visible)::after {
  transform: rotate(-90deg);
}
.header-block__link::after{
	content: "";
    width: 24px;
    height: 24px;
    flex: none;
    background: url("../img/icons/arrow-pop.svg") center / 12px 12px no-repeat;
		transition: 0.5s;
}
.card__picture:hover img{
	transform: scale(1.1);
}






