/* Скидання стилів */
@import url("reset.css");

/* шрифти */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

@font-face {
	font-family: "Proxima Nova Rg";
	src: url("../fon/ProximaNova-Regular.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Proxima Nova Lt";
	src: url("../fon/ProximaNova-Semibold.woff2") format('woff2');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}



/*---------------------------------*/
body{
  font-family: "Proxima Nova Rg","Proxima Nova Lt",sans-serif;
	color: #2b2929;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main{
	flex: 1 1 auto;
}
/* ------------------ */

[class*="__container"] {
	max-width: 1087px;
	margin: 0px auto;


}


.homework{

}
.title__lessons {
	font-size: 40px;
	line-height: 1.333;/*-40/30-*/
	text-align: center;
	color: rgb(177, 89, 13);
	text-shadow: 3px 3px 3px #f89603;
}

.title__lessons{
	margin-bottom: 50px;
}
/*--------------homework-----------------*/
.homework__item {
	margin-bottom: 30px;
	margin-left: 30px;
	font-size: 35px;
	font-weight: 700;
	color: #c78117;
	text-shadow:5px 5px 5px #f89603;
	line-height: 1.8;
}

.item-1::before {
	content: "";
	background: url("../img/pay-1.svg") 0 0 no-repeat;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin-right: 40px;

}
.item-1:hover{
	opacity: 0.9;
	text-decoration: underline;
	padding-top: 3px;
}
.item-2::before {
	content: "";
	background: url("../img/pay-2.svg") 0 0 no-repeat;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin-right: 40px;
}
.item-2:hover{
	opacity: 0.9;
	text-decoration: underline;
	padding-top: 3px;
}
.item-3::before {
	content: "";
	background: url("../img/pay-3.svg") 0 0 no-repeat;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin-right: 40px;
}
.item-3:hover{
	opacity: 0.9;
	text-decoration: underline;
	padding-top: 3px;
}
.item-4::before {
	content: "";
	background: url("../img/pay-4.svg") 0 0 no-repeat;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin-right: 40px;
}
.item-4:hover{
	opacity: 0.9;
	text-decoration: underline;
	padding-top: 3px;
}
.item-5::before {
	content: "";
	background: url("../img/pay-5.svg") 0 0 no-repeat;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin-right: 40px;
}
.item-5:hover{
	opacity: 0.9;
	text-decoration: underline;
	padding-top: 3px;
}
.item-6::before {
	content: "";
	background: url("../img/pay-6.svg") 0 0 no-repeat;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin-right: 40px;
}
.item-6:hover{
	opacity: 0.9;
	text-decoration: underline;
	padding-top: 3px;
}

.item-7::before {
	content: "";
	background: url("../img/pay-7.svg") 0 0 no-repeat;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	margin-right: 40px;
}
.item-7:hover{
	opacity: 0.9;
	text-decoration: underline;
	padding-top: 3px;
}
.homework__picture{}




/*------------footer------------*/
.footer {
	text-align: center;
	background-color: rgb(35, 139, 171);
}
.footer__block {
	max-width: 1280px;
	margin: 0 auto;
}
.footer__item {
	font-size: 30px;
	color: #fff;
	padding: 50px 50px ;
}

.footer__contact{
	display: inline-block;
	margin-right: 80px;

}


.contact__footer-1::before{
	content: "";
	width: 20px;
	height: 20px;
	background: url("../img/contact-1.png") 0 0 no-repeat;

margin-right: 20px;
vertical-align: middle;
}
.contact__footer-2::before{
	content: "";
	width: 20px;
	height: 20px;
	background: url("../img/contact-2.png") 0 0 no-repeat;
color: #fff;
margin-right: 20px;
vertical-align: middle;
}
.contact__footer-3::before{
	content: "";
	width: 20px;
	height: 20px;
	background: url("../img/contact-3.png") 0 0 no-repeat;

margin-right: 20px;
vertical-align:middle;
}

.homework__picture {
margin-left: -150px;
}
.homework__sub-title{
	margin-bottom: 30px;
	margin-left: 30px;
	font-size: 35px;
	font-weight: 700;
	color: #c78117;
	text-shadow:5px 5px 5px #f89603;
	line-height: 1.8;
	text-align: right;

}

.homework__image {
}
.image__block {
	min-width: 1080px;
	margin: 0 auto;
}

.image__block img{
	max-width: 100%;
	border-radius: 15px;
}
.image__sub-title{
	margin-bottom: 30px;
	margin-left: 30px;
	font-size: 35px;
	font-weight: 700;
	color: #c78117;
	text-shadow:5px 5px 5px #f89603;
	line-height: 1.8;
	text-align: right;
}

.title__lessons:after{
content: "";
background: url("../img/love.svg") no-repeat;
width: 200px;
height: 100px;
vertical-align:middle;
margin-left: 50px;
margin-top: 50px;
}