// налаштування взаємодії
.input {
	width: 100%;
	height: 34px;
	padding: 2px 15px 10px;
	border-bottom: 2px solid #000;
	transition: border-color 0.3s;
	outline: none;
	&::placeholder {
		font-weight: 600;
		text-transform: capitalize;
		color: rgba(30, 40, 50, 0.5);
		transition: opacity 0.3s;
	}
	&:focus {
		&::placeholder {
			opacity: 0;
		}
		border-color: #ff6f61;
	}
}

.button {
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-size: 18px;
	text-transform: capitalize;
	outline: 2px solid transparent;
	outline-offset: 3px;
	transition:
		color 0.3s,
		outline-color 0.3s;
	&::before {
		margin-top: -2px;
		font-size: 20px;
	}
	&:focus-visible {
		outline-color: #ff6f61;
	}
	@media (any-hover: hover) {
		&:hover {
			color: #ff6f61;
		}
	}
	&--white {
		outline-offset: 5px;
		color: #fff;
	}
	&--small {
		font-size: 16px;
		column-gap: 6px;
		padding: 8px 18px;
		background-color: #1e2832;
		outline-offset: 3px;
		transition:
			color 0.3s,
			background-color 0.3s,
			outline-color 0.3s;
		&::before {
			font-size: 15px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: #ff6f61;
			}
		}
	}
}






// .title =====================================================================
.title{
	@include adaptiveValue("margin-bottom", 40, 15, 0, $containerWidth, 630.98);
}
[class*="__title"] {
text-transform: capitalize;
font-weight: 500;
  font-family: "Roboto",sans-serif;
	line-height: 1.36; /* 75/55 */
	@include adaptiveValue("margin-bottom", 40, 15, 0, $containerWidth, 630.98);
	@include adaptiveValue("font-size", 74, 30, 0, $containerWidth, 630.98);

}

// .link =====================================================================
